body.dark-mode .form-select.form-select-solid {
  background-color: #1b1b29;
}
body.dark-mode .select2-container--bootstrap5.select2-container--focus .form-select:not(.form-select-solid):not(.form-select-transparent),
body.dark-mode .select2-container--bootstrap5.select2-container--open .form-select:not(.form-select-solid):not(.form-select-transparent) {
  border-color: #474761;
}
body.dark-mode .select2-container--bootstrap5 .select2-dropdown .select2-search .select2-search__field {
  background-color: #1e1e2d;
  padding: 0.55rem 0.75rem;
  color: #92929f;
  font-size: 0.925rem;
  border: 1px solid #323248;
  border-radius: 0.475rem;
  outline: 0 !important;
}
body.dark-mode .select2-container--bootstrap5 .select2-dropdown .select2-results__option.select2-results__option--highlighted {
  background-color: #212e48;
  color: #3699ff;
}
body.dark-mode .select2-container--bootstrap5 .select2-dropdown {
  background-color: #1e1e2d;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
body.dark-mode div.dataTables_wrapper div.dataTables_processing {
  background-color: #1b1b29;
}
body.dark-mode .swal2-popup {
  background-color: #1e1e2d;
  border-radius: 0.475rem;
  padding: 2rem;
}
body.dark-mode .swal2-popup .swal2-title {
  color: aliceblue;
  font-size: 1.3rem;
  font-weight: 500;
}
body.dark-mode .text-inverse-dark {
  color: #ffffff !important;
}
body.dark-mode .bg-orangered {
  background: orangered;
}
body.dark-mode .select2-container--bootstrap5 .select2-selection--multiple .select2-selectionrendered .select2-selectionchoice {
  display: inline-flex;
  align-items: center;
  position: relative;
  background-color: #323248;
}
body.dark-mode .daterangepicker .ranges ul {
  background-color: #1e1e2d;
  padding: 1rem 0;
  width: 175px;
}
body.dark-mode .daterangepicker .ranges li:hover {
  background-color: #212e48;
  color: #3699ff;
  transition: color 0.2s ease, background-color 0.2s ease;
}
body.dark-mode .daterangepicker .ranges {
  background-color: #1e1e2d;
  border-top-left-radius: 0.475rem;
}
body.dark-mode .swal2-popup .swal2-content,
body.dark-mode .swal2-popup .swal2-html-container {
  color: #7e8299;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1.5rem;
}
body.dark-mode .daterangepicker {
  background-color: #1e1e2d;
  border: 0;
  border-radius: 0.475rem;
  box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.1);
  font-family: Poppins, Helvetica, "sans-serif";
  margin: 0;
  padding: 0;
  width: auto;
  z-index: 1000;
}
body.dark-mode .daterangepicker .calendar-table table {
  width: 100%;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #1e1e2d;
}
body.dark-mode .daterangepicker .drp-buttons {
  border-top: 1px solid #1e1e2d;
  padding: 1rem 1.75rem;
}
body.dark-mode .daterangepicker.show-ranges.show-calendar .ranges {
  border-right: 1px solid #1e1e2d;
}
body.dark-mode .daterangepicker .drp-calendar.left .calendar-table {
  background: #1e1e2d;
  padding-right: 8px;
}
body.dark-mode .daterangepicker .drp-calendar td.in-range.available:not(.active):not(.off):not(.today),
body.dark-mode .daterangepicker .drp-calendar td:hover {
  background-color: #213f7a;
  color: #1569bf;
}
body.dark-mode .daterangepicker .drp-calendar td.today,
body.dark-mode .daterangepicker .drp-calendar td.today.active {
  background: #212e48 !important;
  border-radius: 0.475rem;
  color: #2383b9 !important;
}
body.dark-mode .btn-check:active + .daterangepicker .drp-buttons .cancelBtn,
body.dark-mode .btn-check:checked + .daterangepicker .drp-buttons .cancelBtn,
body.dark-mode .daterangepicker .drp-buttons .cancelBtn.active,
body.dark-mode .daterangepicker .drp-buttons .cancelBtn.show,
body.dark-mode .daterangepicker .drp-buttons .cancelBtn:active:not(.btn-active),
body.dark-mode .daterangepicker .drp-buttons .cancelBtn:focus:not(.btn-active),
body.dark-mode .daterangepicker .drp-buttons .cancelBtn:hover:not(.btn-active),
body.dark-mode .show > .daterangepicker .drp-buttons .cancelBtn {
  color: #cdcdde;
  border-color: #474761;
  background-color: #474761 !important;
}
body.dark-mode .daterangepicker .drp-buttons .cancelBtn {
  color: #cdcdde;
  border-color: #323248;
  background-color: #323248;
}
body.dark-mode .daterangepicker select.ampmselect,
body.dark-mode .daterangepicker select.hourselect,
body.dark-mode .daterangepicker select.minuteselect,
body.dark-mode .daterangepicker select.monthselect,
body.dark-mode .daterangepicker select.yearselect {
  background: transparent;
  border-color: transparent;
  border-radius: 0.475rem;
  color: white;
  font-weight: 500;
  outline: 0 !important;
  padding-bottom: 0.35rem;
  padding-top: 0.35rem;
}
body.dark-mode .flatpickr-innerContainer {
  display: block;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #1e1e2c;
}
body.dark-mode .flatpickr-months {
  padding: 0.5rem 1rem 0;
  background-color: #1e1e2c;
}
body.dark-mode .flatpickr-current-month .flatpickr-monthDropdown-months {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #1e1e2c;
  border: 0 !important;
  border-radius: 0.475rem;
  color: #5e6278;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 0.5rem;
  outline: none !important;
  padding: 0.5rem 0.75rem;
}
body.dark-mode .flatpickr-current-month .flatpickr-monthDropdown-months:hover {
  background: #1b1b29;
}
body.dark-mode .flatpickr-months .flatpickr-next-month:hover,
body.dark-mode .flatpickr-months .flatpickr-prev-month:hover {
  background: #1b1b29;
}
body.dark-mode .iti__country-list {
  position: absolute;
  z-index: 2;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0 0 0 -1px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #1b1b29;
  border: 1px solid #151520;
  white-space: nowrap;
  max-height: 200px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
body.dark-mode .iticountry.itihighlight {
  background-color: #212e48;
  color: #3699ff;
}
body.dark-mode .itiflag-box,
body.dark-mode .iticountry-name {
  margin-right: 6px;
  color: #999;
}
body.dark-mode .page-item.next:not(:hover):not(:focus):not(.disabled) .page-link,
body.dark-mode .page-item.previous:not(:hover):not(:focus):not(.disabled) .page-link {
  color: #ffffff;
  background-color: #151521;
}
body.dark-mode .page-link:hover {
  z-index: 2;
  color: #3699ff;
  text-decoration: none;
  background-color: #2b2b40;
  border-color: transparent;
}
body.dark-mode .dropdown-menu a {
  font-size: 13px;
  color: white;
}
body.dark-mode .dropdown-item:hover,
body.dark-mode .dropdown-item:focus {
  color: #3699ff;
  text-decoration: none;
  background-color: #2b2b40;
}
body.dark-mode .flatpickr-day.inRange,
body.dark-mode .flatpickr-day.nextMonthDay.inRange,
body.dark-mode .flatpickr-day.nextMonthDay.today.inRange,
body.dark-mode .flatpickr-day.nextMonthDay:focus,
body.dark-mode .flatpickr-day.nextMonthDay:hover,
body.dark-mode .flatpickr-day.prevMonthDay.inRange,
body.dark-mode .flatpickr-day.prevMonthDay.today.inRange,
body.dark-mode .flatpickr-day.prevMonthDay:focus,
body.dark-mode .flatpickr-day.prevMonthDay:hover,
body.dark-mode .flatpickr-day.today.inRange,
body.dark-mode .flatpickr-day:focus,
body.dark-mode .flatpickr-day:hover {
  background: #1b1b29;
  border-color: transparent;
  color: #009ef7;
  cursor: pointer;
  outline: 0;
}
body.dark-mode .flatpickr-day.today {
  background: #212e48 !important;
  color: #3699ff !important;
  border-radius: 0.475rem;
}
body.dark-mode .form-check-input {
  background-color: #353648;
}
body.dark-mode .livewire-table .livewire-search-box .search-box {
  background-color: #f5f8fa;
  border-color: #f5f8fa;
  color: #5e6278;
  width: 250px !important;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 6.175px !important;
}
body.dark-mode .livewire-table .livewire-pagination .pagination {
  justify-content: flex-end;
}
body.dark-mode .livewire-table .data-sorting {
  background-color: #565674;
  border-color: #565674;
  color: #5e6278;
}
body.dark-mode .livewire-table .text-show {
  color: #5e6278 !important;
  font-weight: 500;
}
body.dark-mode .livewire-table .pagination-record {
  font-weight: 500;
}
body.dark-mode .livewire-table .livewire-search-box .search-box-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  margin-left: 1.5rem !important;
}
body.dark-mode .livewire-table .livewire-search-box button.btn {
  z-index: 10;
  left: -50px;
}
body.dark-mode .livewire-table .livewire-search-box button.btn svg {
  stroke: #355690;
  width: 1em !important;
  height: 1em !important;
}
body.dark-mode .livewire-table .livewire-search-box button.btn:hover {
  background: unset;
}
body.dark-mode .livewire-table .livewire-search-box .input-group {
  width: auto;
}
body.dark-mode .livewire-table .livewire-search-box .search-box {
  background-color: #1b1b29;
  border-color: #1b1b29;
  color: #92929f;
  width: 250px !important;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 6.175px !important;
}
body.dark-mode .livewire-table .livewire-search-box .search-box:focus {
  background-color: #171723;
  border-color: #171723;
  color: #92929f;
  transition: color 0.2s ease, background-color 0.2s ease;
}
body.dark-mode .livewire-table table.table thead tr {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: rgb(43, 43, 64);
}
body.dark-mode .livewire-table table.table thead tr th {
  color: rgb(86, 86, 116) !important;
  font-weight: 600;
  text-transform: uppercase;
}
body.dark-mode .livewire-table table.table tbody tr {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: rgb(43, 43, 64);
}
body.dark-mode .livewire-table table.table tbody tr td {
  padding: 16.25px 9.75px;
  color: rgb(86, 86, 116) !important;
  font-weight: 500;
  vertical-align: middle;
}
body.dark-mode .livewire-table table.table tbody tr td:first-child {
  padding-left: 0 !important;
}
body.dark-mode .data-sorting {
  background-color: #1b1b29 !important;
  border-color: #565674;
  color: #5e6278;
}

.fc-day-today {
  background-color: #3699ff !important;
}

.fc-daygrid-day-number {
  color: #ffffff !important;
}

.fc-daygrid-bg-harness {
  background-color: #3699ff !important;
}

.bg-status-canceled {
  background-color: #f1416c !important;
}

.bg-status-booked {
  background-color: #399ef7 !important;
}

.bg-status-checkIn {
  background-color: #50cd89 !important;
}

.bg-status-checkOut {
  background-color: #fac702 !important;
}

.page-item.next .page-link,
.page-item.previous .page-link {
  background-color: #1e1e2d !important;
}
.page-item.next .page-link:hover,
.page-item.previous .page-link:hover {
  background-color: #212e48 !important;
}

.fc-button.fc-button-active {
  background-color: #2b2b40 !important;
  color: #ffffff !important;
}

.fc-toolbar-chunk button {
  background-color: #1b1b29 !important;
}
.fc-toolbar-chunk button:hover {
  background-color: #1b1b29;
  color: #ffffff !important;
}
.fc-toolbar-chunk .fc-prev-button span:hover,
.fc-toolbar-chunk .fc-next-button span:hover {
  color: #ffffff !important;
}

ul#iti-0__country-listbox {
  background-color: #13151f !important;
}

li.iti__standard:hover {
  background-color: #414141;
}

li.iti__active {
  background-color: #414141;
}

.sidebar {
  background-color: #13151f !important;
}

.images-picker {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.475rem;
  display: inline-block;
  position: relative;
}

.images-picker .previewImage {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 0.313rem;
  background-position: center;
}

.images-picker .picker-edit {
  width: 25px;
  height: 25px;
  background-color: #13151f;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border: 0.063rem solid #262832 !important;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
}

.images-picker .picker-edit label {
  cursor: pointer;
}

.images-picker .picker-edit,
.images-picker .previewImage {
  border: 0.063rem solid #262832 !important;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2) !important;
}

.skeleton {
  background: rgba(130, 130, 130, 0.2) !important;
}

.listing-skeleton .card-content {
  background: unset !important;
}
.listing-skeleton .card-content .pulsate {
  background: linear-gradient(90deg, #333333, #444444, #333333, #444444);
  background-size: 400% 400%;
  animation: skeleton-loader-shimmer 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@keyframes skeleton-loader-shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.skeleton-loader {
  border-bottom: solid 1px gray !important;
}
.skeleton-loader .skeleton-1,
.skeleton-loader .skeleton-2,
.skeleton-loader .skeleton-3 {
  background: rgba(130, 130, 130, 0.2) !important;
  background-size: 400% 400%;
  animation: skeleton-loader-shimmer 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@keyframes skeleton-loader-shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
