.vcard22-main .bg-green {
  background-color: var(--green, #0f2f3a) !important;
}
.vcard22-main .text-gray-100 {
  color: var(--gray-100, #9facb0) !important;
}
.vcard22-main .text-primary {
  color: var(--primary-color, #b8ff69) !important;
}
.vcard22-main .text-black {
  color: var(--black, #2d2624) !important;
}
.vcard22-main .text-white {
  color: var(--white, #ffffff) !important;
}
.vcard22-main body {
  font-family: "Poppins";
  font-weight: 400 !important;
}
.vcard22-main .px-40 {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 575px) {
  .vcard22-main .px-40 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.vcard22-main.main-content {
  max-width: 576px;
  min-height: 100vh;
  text-align: center !important;
  background-color: var(--green, #0f2f3a) !important;
  color: #211c29;
}
.vcard22-main .vcard-twentytwo-heading {
  font-weight: 500;
  font-size: 28px;
  color: var(--primary-color, #b8ff69) !important;
}
.vcard22-main .vcard-prodcut-heading {
  font-weight: 500;
  font-size: 35px;
  color: var(--primary-color, #b8ff69);
}
.vcard22-main .section-heading {
  margin-bottom: 30px;
  overflow: hidden;
}
.vcard22-main .section-heading h2 {
  font-size: 22px;
  position: relative;
  display: inline-block;
  color: var(--primary-color, #b8ff69);
}
@media (max-width: 575px) {
  .vcard22-main .section-heading h2 {
    font-size: 24px;
  }
}
.vcard22-main .section-heading h2::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  bottom: 0;
  top: 0;
  right: -55px;
  margin: auto;
  border-radius: 10px;
  background-color: var(--white, #ffffff);
}
.vcard22-main .btn {
  border-radius: 0;
  font-weight: 500;
  padding: 10px 36px;
  border-radius: 10px;
}
.vcard22-main .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}
.vcard22-main .btn-primary {
  color: var(--green, #0f2f3a);
  background-color: var(--primary-color, #b8ff69);
  border: 1px solid var(--primary-color, #b8ff69);
}
.vcard22-main .btn-primary:hover, .vcard22-main .btn-primary:focus, .vcard22-main .btn-primary.active {
  color: var(--primary-color, #b8ff69);
  background-color: var(--green, #0f2f3a);
  border: 1px solid var(--primary-color, #b8ff69);
}
.vcard22-main .main-content {
  position: relative;
}
.vcard22-main .main-content::-webkit-scrollbar {
  display: none;
}
.vcard22-main .vcard-twentytwo-btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: var(--primary-color, #b8ff69) !important;
  color: var(--black, #2d2624) !important;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}
.vcard22-main .back-btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: var(--primary-color, #b8ff69);
  color: var(--black, #2d2624) !important;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}
.vcard22-main .buy-product {
  padding: 10px 20px;
  background: var(--green, #0f2f3a);
  border: none;
  outline: none;
  color: var(--white, #ffffff);
  border-radius: 5px;
}
.vcard22-main .bg-img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
@media (max-width: 575px) {
  .vcard22-main .bg-img img {
    width: 85%;
  }
}
.vcard22-main .banner-section .banner-img {
  width: 100%;
  height: 220px !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 575px) {
  .vcard22-main .banner-section .banner-img {
    height: 220px;
  }
}
.vcard22-main .profile-section .card {
  margin-top: -116px;
  background-color: transparent !important;
  border: none;
}
.vcard22-main .profile-section .card .card-img {
  width: 180px;
  height: 180px;
  min-width: 180px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--primary-color, #b8ff69);
  box-shadow: 0 5px 20px rgba(26, 36, 44, 0.15);
}
@media (max-width: 575px) {
  .vcard22-main .profile-section .card .card-img {
    width: 160px;
    height: 160px;
    min-width: 160px;
    margin-bottom: 30px;
  }
}
.vcard22-main .profile-name {
  margin-top: 88px !important;
  font-size: 16px !important;
}
@media (max-width: 575px) {
  .vcard22-main .profile-name {
    margin-top: 0px !important;
  }
}
.vcard22-main .social-media-section .social-icon {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin: 6px 12px !important;
  background-color: var(--green-100, #224754);
  border: 1px solid var(--green-100, #224754);
  border-radius: 50%;
}
.vcard22-main .social-media-section .social-icon:hover {
  border: 1px solid var(--primary-color, #b8ff69);
}
.vcard22-main .social-media-section .social-icon svg,
.vcard22-main .social-media-section .social-icon img {
  width: 20px;
  height: 30px !important;
  border-radius: 50% !important;
  color: var(--light-100, #ffffff) !important;
}
.vcard22-main .social-media-section .social-icon:first-child {
  margin-left: 0;
}
.vcard22-main .social-media-section .social-icon:last-child {
  margin-right: 0;
}
.vcard22-main .contact-section {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px !important;
}
.vcard22-main .contact-section .contact-box .contact-icon {
  width: 50px;
  min-width: 50px;
  height: 50px;
  background-color: var(--green-100, #224754);
  border-radius: 50%;
  margin-right: 7px;
}
.vcard22-main .contact-section .contact-box .contact-icon svg,
.vcard22-main .contact-section .contact-box .contact-icon img {
  color: var(--light-100, #ffffff) !important;
}
.vcard22-main .gallery-section .gallery-slider .slick-slide {
  transform: scale(0.8);
}
.vcard22-main .gallery-section .gallery-slider .gallery-img {
  position: relative;
  max-width: 300px;
  height: 200px;
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #373a41;
}
.vcard22-main .gallery-section .gallery-slider .slick-dots {
  position: relative;
  bottom: -15px;
}
.vcard22-main .gallery-section .gallery-slider .slick-dots li {
  width: 15px;
}
.vcard22-main .gallery-section .gallery-slider .slick-current.slick-active {
  transform: scale(1);
}
.vcard22-main .video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 20px;
  border-radius: 50%;
  padding: 0px 0px 0px 4px;
}
.vcard22-main .video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 50px;
  height: 50px;
  background: var(--primary-color, #b8ff69);
  border-radius: 50%;
  transition: all 200ms;
}
.vcard22-main .video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 16px solid var(--green, #0f2f3a);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
.vcard22-main .product-section .product-slider .product-card {
  padding: 5px;
  background-color: var(--green-100, #224754);
  max-width: 260px;
  margin: 0 10px;
  height: 220px !important;
  margin-bottom: 10px !important;
  border-radius: 20px;
  border: none;
}
@media (max-width: 575px) {
  .vcard22-main .product-section .product-slider .product-card {
    margin: 0 auto;
  }
}
.vcard22-main .product-section .product-slider .product-card .product-img {
  max-width: 100%;
  width: 100%;
  height: 170px;
  overflow: hidden;
  border-radius: 20px;
}
@media (max-width: 425px) {
  .vcard22-main .product-section .product-slider .product-card .product-img {
    margin: 0 auto;
  }
}
.vcard22-main .product-section .product-slider .product-card .product-head {
  color: var(--white, #ffffff) !important;
}
.vcard22-main .product-section .product-slider .product-card .product-desc {
  padding: 0;
}
.vcard22-main .product-section .product-slider .product-card .product-desc p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.vcard22-main .our-services-section .services .service-card {
  border-radius: 20px;
  background-color: var(--green-100, #224754);
  padding: 25px;
  position: relative;
}
.vcard22-main .our-services-section .services .service-card .card-img {
  width: 40px;
  height: 40px;
  min-width: 40px;
}
.vcard22-main .our-services-section .services .service-card .card-title {
  color: var(--white, #ffffff) !important;
}
.vcard22-main .our-services-section .services .service-card .card-body p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.vcard22-main .appointment-section .appointment .appointment-input {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  background-color: transparent;
  border: 1px solid var(--green-100, #224754);
  color: var(--white, #ffffff);
  border-radius: 15px;
}
.vcard22-main .appointment-section .appointment .appointment-input::-moz-placeholder {
  color: var(--gray-100, #9facb0);
}
.vcard22-main .appointment-section .appointment .appointment-input::placeholder {
  color: var(--gray-100, #9facb0);
}
.vcard22-main .appointment-section .appointment .appointment-input:focus {
  box-shadow: none;
  outline: none;
}
.vcard22-main .appointment-section .appointment .hour-input {
  height: 50px;
  padding: 10px;
  background-color: var(--green-100, #224754);
  border-radius: 15px;
  color: var(--white, #ffffff);
}
.vcard22-main .appointment-section .appointment .btn-primary {
  max-width: 270px;
  width: 100%;
}
.vcard22-main .blog-section {
  position: relative;
}
.vcard22-main .blog-section .blog-slider {
  position: relative;
}
.vcard22-main .blog-section .blog-slider .slick-slide {
  padding: 0 10px;
}
.vcard22-main .blog-section .blog-slider .blog-card {
  margin: 0 auto;
  max-width: 260px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
}
.vcard22-main .blog-section .blog-slider .blog-card .card-img {
  position: relative;
  border: 1px solid #2c2e36;
  width: 100%;
  height: 150px;
  border-radius: 20px;
  overflow: hidden;
}
.vcard22-main .blog-section .blog-slider .blog-card .card-body p {
  display: -webkit-box;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.vcard22-main .blog-section .blog-slider .blog-card .card-body h2 {
  display: -webkit-box;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.vcard22-main .blog-section .blog-slider .slick-prev,
.vcard22-main .blog-section .blog-slider .slick-next {
  position: absolute;
  opacity: 1 !important;
  width: 40px;
  z-index: 2;
}
@media (max-width: 575px) {
  .vcard22-main .blog-section .blog-slider .slick-prev,
  .vcard22-main .blog-section .blog-slider .slick-next {
    display: none;
  }
}
.vcard22-main .blog-section .blog-slider .slick-next {
  right: 0;
}
@media (max-width: 768px) {
  .vcard22-main .blog-section .blog-slider .slick-next {
    right: -15px;
  }
}
.vcard22-main .blog-section .blog-slider .slick-next:before {
  opacity: 1 !important;
}
.vcard22-main .blog-section .blog-slider .slick-prev {
  left: 0;
}
@media (max-width: 768px) {
  .vcard22-main .blog-section .blog-slider .slick-prev {
    left: -15px;
  }
}
.vcard22-main .blog-section .blog-slider .slick-prev:before {
  opacity: 1 !important;
}
.vcard22-main .business-hour-section .business-hour-card .business-hour {
  padding: 10px 5px;
  border-radius: 10px;
  background-color: var(--green-100, #224754);
  color: var(--white, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
}
.vcard22-main .business-hour-section .business-hour-card .business-hour span {
  font-size: 10px !important;
}
@media (max-width: 575px) {
  .vcard22-main .business-hour-section .business-hour-card .business-hour span {
    font-size: 10px;
  }
}
.vcard22-main .testimonial-section {
  position: relative;
}
.vcard22-main .testimonial-section .testimonial-bg-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  text-align: end;
}
@media (max-width: 575px) {
  .vcard22-main .testimonial-section .testimonial-bg-img img {
    width: 60%;
  }
}
.vcard22-main .testimonial-section .testimonial-slider .testimonial-card {
  position: relative;
  padding: 25px;
  border: none;
  background-color: var(--green-100, #224754);
  border-radius: 20px;
  margin: 0 10px;
}
@media (max-width: 575px) {
  .vcard22-main .testimonial-section .testimonial-slider .testimonial-card {
    padding: 20px;
  }
}
.vcard22-main .testimonial-section .testimonial-slider .testimonial-card .card-body .quote-img {
  width: 60px;
  height: 45px;
  min-width: 60px;
}
@media (max-width: 575px) {
  .vcard22-main .testimonial-section .testimonial-slider .testimonial-card .card-body .quote-img {
    width: 36px;
    min-width: 36px;
    height: 26px;
  }
}
.vcard22-main .testimonial-section .testimonial-slider .testimonial-card .card-body .desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.vcard22-main .testimonial-section .testimonial-slider .testimonial-card .card-body .testimonial-profile-img {
  width: 60px;
  height: 60px;
  min-width: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}
.vcard22-main .qr-code-section .qr-code {
  gap: 50px;
}
@media (max-width: 575px) {
  .vcard22-main .qr-code-section .qr-code {
    gap: 40px;
  }
}
.vcard22-main .qr-code-section .qr-code .qr-profile-img {
  width: 150px;
  height: 150px;
  min-width: 150px;
  border-radius: 50%;
  box-shadow: 10px 10px 20px -7px rgba(53, 36, 31, 0.15);
}
.vcard22-main .qr-code-section .qr-code .qr-code-img {
  width: 115px;
  height: 115px;
  min-width: 115px;
}
.vcard22-main .contact-us-section {
  position: relative;
}
.vcard22-main .contact-us-section .contact-form .form-control {
  margin-bottom: 15px;
  padding: 13px 20px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--green-100, #224754) !important;
  border: none;
  color: var(--white, #ffffff) !important;
  font-size: 14px;
}
.vcard22-main .contact-us-section .contact-form .form-control::-moz-placeholder {
  color: var(--white, #ffffff) !important;
}
.vcard22-main .contact-us-section .contact-form .form-control::placeholder {
  color: var(--white, #ffffff) !important;
}
.vcard22-main .contact-us-section .contact-form .form-control:focus {
  box-shadow: none;
  outline: none;
}
.vcard22-main .create-vcard-section .vcard-link-card {
  padding: 20px;
  background-color: var(--green-100, #224754);
  border-radius: 0;
}
.vcard22-main .create-vcard-section .vcard-link-card .link-text {
  font-size: 18px;
  word-break: break-all;
  color: var(--white, #ffffff);
}
@media (max-width: 575px) {
  .vcard22-main .create-vcard-section .vcard-link-card .link-text {
    font-size: 16px;
  }
}
.vcard22-main .add-to-contact-section {
  position: fixed !important;
  width: 100%;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: var(--black, #2d2624);
}
.vcard22-main .add-to-contact-section .add-contact-btn {
  height: 40px;
  padding: 9px 35px !important;
  width: 207px !important;
  color: var(--black, #2d2624) !important;
}
.vcard22-main .add-to-contact-section .add-contact-btn i {
  font-size: 1rem;
}
.vcard22-main .add-to-contact-section .add-contact-btn:hover {
  color: var(--primary-color, #b8ff69) !important;
}
.vcard22-main .btn-section .fixed-btn-section .dynamic-bars-btn {
  background-color: var(--primary-color, #b8ff69);
}
.vcard22-main .btn-section .fixed-btn-section .sub-btn .dynamic-sub-btn {
  background-color: var(--green, #0f2f3a);
  border: 1px solid var(--primary-color, #b8ff69);
}
.vcard22-main .slick-dotted.slick-slider {
  margin-bottom: 10px;
}
.vcard22-main .slick-dots {
  position: relative;
  bottom: -15px;
}
.vcard22-main .slick-dots li {
  margin: 0 4px;
  width: 15px;
  height: 8px;
}
.vcard22-main .slick-dots li button {
  width: 8px;
  height: 8px;
  font-size: 0;
}
.vcard22-main .slick-dots li button:before {
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
.vcard22-main .slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: var(--white, #ffffff);
}
.vcard22-main .px-30 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
@media (max-width: 575px) {
  .vcard22-main .px-30 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.vcard22-main .fs-12 {
  font-size: 12px;
}
.vcard22-main .fs-14 {
  font-size: 14px;
}
.vcard22-main .fs-18 {
  font-size: 18px;
}
@media (max-width: 575px) {
  .vcard22-main .fs-18 {
    font-size: 16px;
  }
}
.vcard22-main .fs-20 {
  font-size: 20px;
}
.vcard22-main .mt-10 {
  margin-top: 10px;
}
.vcard22-main .mt-40 {
  margin-top: 40px;
}
@media (max-width: 575px) {
  .vcard22-main .mt-40 {
    margin-top: 30px;
  }
}
.vcard22-main .mb-40 {
  margin-bottom: 40px;
}
@media (max-width: 575px) {
  .vcard22-main .mb-40 {
    margin-bottom: 30px;
  }
}
.vcard22-main .mb-30 {
  margin-bottom: 30px;
}
@media (max-width: 575px) {
  .vcard22-main .mb-30 {
    margin-bottom: 25px;
  }
}
.vcard22-main .mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}
@media (max-width: 575px) {
  .vcard22-main .mx-30 {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.vcard22-main .mb-20 {
  margin-bottom: 20px;
}
.vcard22-main .mb-10 {
  margin-bottom: 10px;
}
.vcard22-main .pb-50 {
  padding-bottom: 50px;
}
@media (max-width: 575px) {
  .vcard22-main .pb-50 {
    padding-bottom: 40px;
  }
}
.vcard22-main .pt-40 {
  padding-top: 40px;
}
@media (max-width: 575px) {
  .vcard22-main .pt-40 {
    padding-top: 25px;
  }
}
.vcard22-main .pb-40 {
  padding-bottom: 40px;
}
@media (max-width: 575px) {
  .vcard22-main .pb-40 {
    padding-bottom: 25px;
  }
}
.vcard22-main .pt-60 {
  padding-top: 60px;
}
@media (max-width: 575px) {
  .vcard22-main .pt-60 {
    padding-top: 40px;
  }
}
.vcard22-main .pb-60 {
  padding-bottom: 60px;
}
@media (max-width: 575px) {
  .vcard22-main .pb-60 {
    padding-bottom: 40px;
  }
}
.vcard22-main .pt-30 {
  padding-top: 30px;
}
@media (max-width: 575px) {
  .vcard22-main .pt-30 {
    padding-top: 20px;
  }
}
.vcard22-main .pb-30 {
  padding-bottom: 30px;
}
@media (max-width: 575px) {
  .vcard22-main .pb-30 {
    padding-bottom: 20px;
  }
}
.vcard22-main .pt-50 {
  padding-top: 50px;
}
@media (max-width: 575px) {
  .vcard22-main .pt-50 {
    padding-top: 40px;
  }
}
.vcard22-main .pt-80 {
  padding-top: 80px;
}
@media (max-width: 575px) {
  .vcard22-main .pt-80 {
    padding-top: 40px;
  }
}
.vcard22-main .pb-80 {
  padding-bottom: 80px;
}
@media (max-width: 575px) {
  .vcard22-main .pb-80 {
    padding-bottom: 40px;
  }
}
.vcard22-main .px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.vcard22-main .fw-5 {
  font-weight: 500;
}
.vcard22-main .fw-6 {
  font-weight: 600;
}
.vcard22-main .fw-7 {
  font-weight: 700;
}
.vcard22-main .fs-12 {
  font-size: 12px;
}
.vcard22-main .fs-36 {
  font-size: 36px;
}
@media (max-width: 575px) {
  .vcard22-main .fs-36 {
    font-size: 30px;
  }
}
.vcard22-main .fs-30 {
  font-size: 30px;
}
@media (max-width: 575px) {
  .vcard22-main .fs-30 {
    font-size: 28px;
  }
}
.vcard22-main .fs-28 {
  font-size: 28px;
}
@media (max-width: 575px) {
  .vcard22-main .fs-28 {
    font-size: 24px;
  }
}
.vcard22-main a {
  text-decoration: none;
}
.vcard22-main .main-content {
  max-width: 576px;
  min-height: 100vh;
  margin-top: -35px;
}
.vcard22-main .object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.vcard22-main .flex-1 {
  flex: 1;
}
.vcard22-main .cursor-pointer {
  cursor: pointer;
}
.vcard22-main .slick-dots li {
  margin: 0;
  width: 15px;
}
.vcard22-main .slick-dots li button:before {
  font-size: 30px;
  opacity: 1;
}
.vcard22-main .activeSlot {
  background-color: #6554ce !important;
  color: #f5f2fb !important;
  cursor: pointer;
}
.vcard22-main .time-slot {
  font-size: 15px;
  background-color: transparent !important;
  color: var(--white, #ffffff) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid var(--primary-color, #b8ff69);
}
.vcard22-main .time-slot:hover, .vcard22-main .time-slot.activeSlot {
  border: 1px solid var(--primary-color, #b8ff69);
  background-color: var(--primary-color, #b8ff69) !important;
  color: #2d2624 !important;
}
.vcard22-main .send-btn {
  height: 40px;
  padding: 10px 30px;
  width: 207px !important;
}
.vcard22-main .iframe-head {
  margin-left: 27px !important;
  margin-bottom: 0px !important;
}
.vcard22-main .insta-feed {
  max-height: 1000px !important;
  overflow-x: hidden;
  overflow-y: scroll;
}
.vcard22-main .insta-feed::-webkit-scrollbar {
  width: 0px;
}
.vcard22-main .insta-feed::-webkit-scrollbar-thumb {
  background-color: #f1faff !important;
}
.vcard22-main .insta-feed::-webkit-scrollbar-track {
  background-color: #f1faff !important;
}
.vcard22-main .instagram-btn {
  flex: 1;
  font-size: 20px !important;
}
.vcard22-main .instagram-btn {
  background: none !important;
  color: #ffffff;
}
.vcard22-main .instagram-btn.active {
  background-color: var(--primary-color, #b8ff69) !important;
  border-radius: 50px !important;
  border: 1px solid var(--primary-color, #b8ff69);
  color: #373a41 !important;
}
.vcard22-main .instagram-btn.active span {
  color: #373a41 !important;
  font-size: 20px !important;
}
.vcard22-main .insta-toggle {
  border: 2px solid var(--primary-color, #b8ff69);
  border-radius: 35px !important;
  margin: 10px !important;
  padding: 5px !important;
  transition: all 0.3s ease !important;
}
.vcard22-main #instafeed-container a img {
  width: 44%;
  height: 200px !important;
  margin: 11px;
  border-radius: 15px;
}
.vcard22-main .instagram-media {
  min-width: 50% !important;
  max-width: 100% !important;
}
.vcard22-main .vcard22-sticky-btn {
  background: var(--primary-color, #b8ff69);
  color: var(--primary-color, #b8ff69);
  border: 1px solid var(--primary-color, #b8ff69);
  border-radius: 5px;
  height: 40px;
}
.vcard22-main .vcard22-btn-group {
  width: 50px;
  height: 50px;
  color: var(--primary-color, #b8ff69);
  background-color: var(--green, #0f2f3a) !important;
  border-radius: 50px !important;
}
.vcard22-main .language ul {
  list-style: none;
}
.vcard22-main .language ul .lang-list {
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}
.vcard22-main .language ul .lang-list .lang-head {
  color: var(--black, #2d2624);
  padding: 10px 20px !important;
}
.vcard22-main .language ul .lang-list .lang-head i {
  color: #ffffff;
}
.vcard22-main .language ul .lang-list .lang-hover-list {
  margin: 15px 0 0;
  font-size: 15px;
  width: 115%;
  left: unset !important;
  right: 0;
  min-width: 150px;
}
.vcard22-main .language ul .lang-list .lang-hover-list li {
  padding: 5px 15px;
}
.vcard22-main .language ul .lang-list .lang-hover-list li:hover {
  background-color: #f1faff !important;
}
.vcard22-main .language ul .lang-list .lang-hover-list li:hover a {
  color: #009ef7 !important;
}
.vcard22-main .language ul .lang-list .lang-hover-list li.active {
  background-color: #f1faff !important;
}
.vcard22-main .language ul .lang-list .lang-hover-list li.active a {
  color: #009ef7 !important;
}
.vcard22-main .language ul .lang-list .lang-hover-list li a {
  color: #5e6278 !important;
  text-decoration: none;
  font-size: 14px !important;
}
.vcard22-main .language ul .lang-list .lang-hover-list li img {
  height: 20px !important;
  width: 25px !important;
}
.vcard22-main .z-index-2 {
  z-index: 2;
}
.vcard22-main .audio-image {
  height: 140px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.vcard22-main .gallery-file-item {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.vcard22-main .support-banner {
  width: 100%;
  max-width: 576px;
  height: auto !important;
  position: fixed;
  bottom: 0;
  z-index: 99999 !important;
  background: var(--green-100, #224754) !important;
  color: var(--white, #ffffff);
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 19px 3px 0 #848181, 0 0px 11px 0 #000000;
}
.vcard22-main .support-banner .support_heading {
  font-size: 32px;
  margin-top: 33px;
}
.vcard22-main .support-banner .support_text {
  margin-bottom: 33px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .vcard22-main .support-banner {
    max-width: 540px !important;
  }
}
.vcard22-main .act-now {
  padding: 10px 20px;
  background: var(--primary-color, #b8ff69);
  border: none;
  outline: none;
  transition: all 0.3s ease;
  transform: translateY(0);
  text-decoration: none;
  color: var(--black, #2d2624) !important;
  position: relative;
  bottom: 10px;
  display: inline-block !important;
}
.vcard22-main .banner-close {
  position: absolute;
  background: transparent !important;
  top: 20px;
  right: 25px;
  color: var(--white, #ffffff) !important;
  font-size: 20px !important;
  border: none;
}

.appoint-date {
  color: var(--white, #ffffff) !important;
}

.appoint-hour {
  color: var(--white, #ffffff) !important;
}

.terms-policies-btn {
  color: var(--white, #ffffff) !important;
}

.made-by-text {
  color: var(--white, #ffffff) !important;
}

.contact-desc {
  color: var(--white, #ffffff) !important;
}

.blog-title {
  color: var(--white, #ffffff) !important;
}

.slick-dots li button:before {
  color: transparent !important;
}

.dynamic-vcard::-webkit-scrollbar {
  max-width: 360px;
  width: 100% !important;
  display: none;
}

.form-control-color {
  width: 50%;
}
@media (max-width: 575px) {
  .form-control-color {
    width: 100%;
  }
}

.sticky_icon {
  margin-left: 12px;
  margin-top: 14px;
}

.dynamic-sticky-right {
  width: 50px;
  height: 50px;
  background: var(--primary-color, #b8ff69);
  border-radius: 50px;
  margin: -15px 10px 0 0;
  position: sticky;
  z-index: 99999;
  transition: all 0.5s;
  left: 325px;
  top: 50%;
  padding: 0;
}

.dynamic-sticky-left {
  width: 50px;
  height: 50px;
  background: var(--primary-color, #b8ff69);
  border-radius: 50px;
  margin: 0 0 0 10px;
  margin-top: -15px;
  position: sticky;
  z-index: 99999;
  transition: all 0.5s;
  left: 0;
  top: 50%;
  padding: 0;
}

.dynamic-btn-1 {
  display: inline-block; /* Changed from inline to inline-block */
  border-radius: 4px !important;
  color: var(--black, #2d2624);
  background-color: var(--primary-color, #b8ff69);
  border: 1px solid var(--primary-color, #b8ff69);
  padding: 9px 30px !important;
}
.dynamic-btn-1:hover, .dynamic-btn-1:focus, .dynamic-btn-1.active {
  color: var(--primary-color, #b8ff69) !important;
  background-color: var(--green, #0f2f3a);
  border: 1px solid var(--primary-color, #b8ff69);
}
.dynamic-btn-1 i {
  font-size: 1rem;
}
.dynamic-btn-1:hover {
  color: var(--primary-color, #b8ff69) !important;
}

.dynamic-btn-2 {
  display: inline-block; /* Changed from inline to inline-block */
  color: var(--black, #2d2624);
  background-color: var(--primary-color, #b8ff69);
  border: 1px solid var(--primary-color, #b8ff69);
  border-radius: 0px !important;
  padding: 9px 30px !important;
}
.dynamic-btn-2:hover, .dynamic-btn-2:focus, .dynamic-btn-2.active {
  color: var(--primary-color, #b8ff69) !important;
  background-color: var(--green, #0f2f3a);
  border: 1px solid var(--primary-color, #b8ff69);
}
.dynamic-btn-2 i {
  font-size: 1rem;
}
.dynamic-btn-2:hover {
  color: var(--primary-color, #b8ff69) !important;
}

.dynamic-btn-3 {
  border-radius: 20px !important;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  padding: 0.5rem !important;
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: var(--black, #2d2624);
  background-color: var(--primary-color, #b8ff69) !important;
}
.dynamic-btn-3:hover {
  color: var(--black, #2d2624) !important;
}

.dynamic-btn-4 {
  padding: 0.5rem !important;
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: var(--black, #2d2624);
  background-color: var(--primary-color, #b8ff69) !important;
  border-radius: 0px !important;
}
.dynamic-btn-4:hover {
  box-shadow: 0px 0px 12px 4px var(--white, #ffffff) !important;
  color: var(--green, #0f2f3a) !important;
}

.dynamic-btn-5 {
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  padding: 0.5rem !important;
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 45px;
  color: var(--primary-color, #b8ff69) !important;
  border: thick double var(--primary-color, #b8ff69) !important;
  border-radius: 20px !important;
}

.dynamic-btn-6 {
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  padding: 0.5rem !important;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--primary-color, #b8ff69) !important;
  border-style: dotted !important;
  color: var(--primary-color, #b8ff69);
}
.dynamic-btn-6:hover {
  color: var(--primary-color, #b8ff69) !important;
}

.dynamic-btn-7 {
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  padding: 0.5rem !important;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: thick double var(--primary-color, #b8ff69) !important;
  color: var(--primary-color, #b8ff69);
}
.dynamic-btn-7:hover {
  color: var(--primary-color, #b8ff69) !important;
}

.dynamic-btn-8 {
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  padding: 0.5rem !important;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--primary-color, #b8ff69) !important;
  color: var(--black, #2d2624);
  border-radius: 0px;
  transition: transform 0.5s ease !important;
  background-color: var(--primary-color, #b8ff69) !important;
}
.dynamic-btn-8:hover {
  transform: translateY(-5px) !important;
  color: var(--black, #2d2624) !important;
}

.dynamic-btn-9 {
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  padding: 0.5rem !important;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-radius: 30px 0 30px 0 !important;
  background-color: var(--primary-color, #b8ff69) !important;
  transition: transform 0.5s ease !important;
  color: var(--black, #2d2624);
  border-radius: 30px 0 30px 0 !important;
}
.dynamic-btn-9:hover {
  color: var(--black, #2d2624) !important;
}

.dynamic-btn-10 {
  border: 2px solid var(--primary-color, #b8ff69);
  padding: 0.5rem !important;
  display: inline-block;
  justify-content: center;
  align-items: center;
  transition: ease-out 0.5s;
  color: var(--primary-color, #b8ff69);
  background-color: var(--green, #0f2f3a) !important;
  border-radius: 0px !important;
}
.dynamic-btn-10:hover {
  box-shadow: inset 400px 0 0 0 var(--primary-color, #b8ff69) !important;
  color: var(--green, #0f2f3a) !important;
}

.rtl[dir=rtl] .vcard22-main .contact-section .contact-box .contact-icon {
  margin-left: 7px !important;
  margin-right: 0;
}

.text-start {
  text-align: right !important;
}
