.hero-about h2 {
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-about .desc {
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 10px;
}
@media (max-width: 375px) {
  .hero-about .desc {
    padding: 12px;
  }
}
.hero-about .desc span {
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-about .desc a {
  color: #ffffff;
}
.hero-about .desc .icon {
  width: 16px;
  height: 16px;
}
.hero-about .desc .icon i::before {
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-section .card {
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.18);
  min-height: 163px !important;
}
.services-section .card .tag {
  position: absolute;
  top: -20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
}
@media (max-width: 460px) {
  .services-section .card .tag {
    top: -17px;
    right: 20px;
    width: 35px;
    height: 35px;
  }
}
.services-section .card .card-img-top {
  width: 60px;
  height: 60px;
}
.services-section .card .card-img-top i {
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services-section .card .card-img-top i:before {
  font-size: 50px;
}
.services-section .card:hover i {
  background-image: linear-gradient(123.62deg, #ffffff 0%, #ffffff 100%);
  -webkit-text-fill-color: #ffffff;
}
.services-section .card:hover .card-body h5 {
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services-section .card .card-body {
  position: relative;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.services-section .card .card-body::after {
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  width: 45px;
  height: 1px;
  z-index: 3;
}
.services-section .card .card-body .card-text {
  max-height: 190px;
  overflow: auto;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.services-section .services-slider-view .slick-list {
  height: 255px !important;
  padding-top: 5px !important;
}
@media (max-width: 500px) {
  .services-section .services-slider-view .slick-list {
    height: 350px !important;
  }
}
.services-section .services-slider-view .slick-list .slick-track {
  padding-top: 55px !important;
}
@media (max-width: 400px) {
  .services-section .services-slider-view .slick-list .slick-track {
    padding-top: 15px !important;
  }
}
.services-section .services-slider-view .service-card {
  border-radius: 10px;
  min-height: 175px;
  max-height: 185px;
  color: #ffffff;
  padding: 18px;
  display: block;
}
.services-section .services-slider-view .service-card .card-title {
  color: #ffffff;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 2px 0 0 0 !important;
}
@media (max-width: 500px) {
  .services-section .services-slider-view .service-card .card-title {
    margin: 12px 0 0 0 !important;
  }
}
.services-section .services-slider-view .service-card .description-text {
  color: #CCD4E4;
  font-size: 14px;
  margin: 10px 0 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 500px) {
  .services-section .services-slider-view .service-card .description-text {
    -webkit-line-clamp: 3;
  }
}
.services-section .services-slider-view .service-card .img {
  width: -moz-fit-content;
  width: fit-content;
  display: inline;
  float: left;
}
.services-section .services-slider-view .service-card .img img {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  border-radius: 20px !important;
}
@media (max-width: 500px) {
  .services-section .services-slider-view .service-card .img img {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 500px) {
  .services-section .services-slider-view .service-card {
    min-height: 235px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
.services-section .services-slider-view .slick-list .slick-slide {
  margin: 0 15px;
}

.client-section .client-box {
  border-radius: 6px;
  background-color: #1d2336;
}
.client-section .client-box .client-img {
  width: 100%;
  height: 220px;
  margin: auto;
}

.custom-margin-testimonial {
  margin-left: -231px !important;
}

.testimonial-card-custom {
  min-height: 163px !important;
}

.testimonial-2card-custom {
  min-height: 268px !important;
  margin-left: 11px !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 900px !important;
  }
}
.testimonials-section .card .card-body .card-text {
  max-height: 170px;
  overflow: auto;
}

.video-container {
  height: 220px;
}
