.main-bg {
  width: 70%;
  height: 80vh;
  background-color: #292e4e;
  position: relative;
  overflow: hidden;
  top: 75px;
  margin: auto;
  border-radius: 20px;
}
@media (max-width: 1499px) {
  .main-bg {
    width: 90%;
    height: 80vh;
  }
}
@media (max-width: 1299px) {
  .main-bg {
    width: 95%;
    height: 90vh;
    top: 50px;
  }
}
@media (max-width: 1199px) {
  .main-bg {
    width: 100%;
    height: 100vh;
    top: 0;
    border-radius: 0;
  }
}

.main-header {
  position: absolute;
  overflow-y: auto;
  width: 320px;
  height: 100%;
  bottom: 0;
  min-width: 320px;
  z-index: 2;
}
.main-header .hero-img {
  width: 100%;
  height: 250px;
}

.icon-box {
  bottom: -20px;
  left: 12px;
}

.social-icon {
  background: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  border-radius: 50px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: transparent;
}
.social-icon a {
  display: flex;
  padding: 12px;
}
.social-icon i {
  border-radius: 10px;
  font-size: 22px !important;
}
.social-icon svg,
.social-icon img {
  width: 22px !important;
  max-width: 22px !important;
}
.social-icon i::before {
  color: #ffffff;
}

#pages-menu, #pages-menu1 {
  display: none;
}

.top-header {
  position: absolute;
  left: 320px;
  right: 0;
  top: 0px;
  z-index: 9999;
  border-left: 0px solid transparent;
  box-sizing: border-box;
}
@media (max-width: 991px) {
  .top-header {
    left: 0px;
    background-color: #1d2336;
  }
}
.top-header .home i {
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
}
.top-header .sharedropbtn {
  border: none;
  cursor: pointer;
}
@media (max-width: 991px) {
  .top-header .sharedropbtn {
    padding: 6px 12px;
  }
}
.top-header .contact i {
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top-header .dropbtn, .top-header .copy-referral-btn {
  border: none;
  cursor: pointer;
}
@media (max-width: 991px) {
  .top-header .dropbtn, .top-header .copy-referral-btn {
    padding: 7px 10px;
  }
}
@media (max-width: 575px) {
  .top-header .dropbtn, .top-header .copy-referral-btn {
    padding: 9px 12px;
  }
}
.top-header .dropdown {
  position: relative;
  display: inline-block;
}
.top-header .fa-solid.fa-sort-down {
  position: relative;
  bottom: 2px;
}
.top-header .dropdown-content {
  padding: 15px 15px 0px 15px;
  display: none;
  position: absolute;
  background-color: #222739;
  right: 0;
  min-width: 160px;
  max-height: 500px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999999999;
}
@media (max-width: 991px) {
  .top-header .dropdown-content {
    top: 50px;
  }
}
.top-header .dropdown-content a {
  color: #ffffff;
  padding: 0 0 15px 0;
  font-size: 14px;
  text-decoration: none;
  display: block;
}
@media (max-width: 575px) {
  .top-header .dropdown-content a {
    font-size: 12px;
  }
}
.top-header .dropdown-content a img {
  width: 18px;
  height: 18px;
}
.top-header .dropdown-content a:hover, .top-header .dropdown-content .active, .top-header .dropdown-content :focus {
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top-header .show {
  display: block;
}
.top-header .sharedropdown {
  position: relative;
  display: inline-block;
}
.top-header .sharedropdown-content {
  padding: 10px;
  display: none;
  position: absolute;
  background-color: #222739;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999999;
}
@media (max-width: 991px) {
  .top-header .sharedropdown-content {
    top: 50px;
  }
}
.top-header .sharedropdown-content a {
  color: #ffffff;
  padding: 0 0 15px 0;
  font-size: 14px;
  text-decoration: none;
  display: block;
}
@media (max-width: 575px) {
  .top-header .sharedropdown-content a {
    font-size: 12px;
  }
}
.top-header .activetab {
  display: block;
}
.top-header .share-icon {
  background: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  border-radius: 50px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.top-header .share-icon:hover, .top-header .share-icon:focus, .top-header .share-icon.active {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.top-header .share-icon:hover i::before, .top-header .share-icon:focus i::before, .top-header .share-icon.active i::before {
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top-header .share-icon a {
  padding: 10px;
}
.top-header .share-icon i {
  border-radius: 10px;
}
.top-header .share-icon i::before {
  color: #ffffff;
}

.nav-tabs {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
}
.nav-tabs .nav-link.active {
  -webkit-background-clip: text;
          background-clip: text;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.nav-tabs .nav-link {
  text-align: start;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  color: #ffffff;
  position: relative;
  padding: 10px 12px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:visited {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.nav-tabs .nav-link i {
  width: 18px;
  height: 18px;
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-tabs .nav-link .fa-plus {
  position: absolute;
  right: 10px;
  top: 14px;
}

.custom-social-position {
  top: 228px !important;
}

#videobtn {
  background-color: rgb(24, 183, 24);
  border: none;
  height: 40px !important;
  width: 50px !important;
  border-radius: 5px !important;
}

.dropdown-content li {
  list-style: none !important;
}

.slick-slider .slick-track {
  padding-top: 30px !important;
}

.main-bg[dir=rtl] .top-header,
.main-bg[dir=rtl] .tab-content {
  right: 320px;
  left: 0;
}
@media (max-width: 991px) {
  .main-bg[dir=rtl] .top-header,
  .main-bg[dir=rtl] .tab-content {
    right: 0;
  }
}
.main-bg[dir=rtl] .bars {
  right: 26px;
  left: auto;
}
.main-bg[dir=rtl] .bars i {
  width: 34px !important;
  height: 32px !important;
}
.main-bg[dir=rtl] .me-1 {
  margin-left: 0.25rem !important;
  margin-right: 0 !important;
}
.main-bg[dir=rtl] .me-2 {
  margin-left: 0.5rem !important;
  margin-right: 0 !important;
}
.main-bg[dir=rtl] .me-3 {
  margin-left: 1rem !important;
  margin-right: 0 !important;
}
.main-bg[dir=rtl] .me-4 {
  margin-left: 1.5rem !important;
  margin-right: 0 !important;
}
.main-bg[dir=rtl] .ms-3 {
  margin-right: 1rem !important;
  margin-left: 0 !important;
}
.main-bg[dir=rtl] .ps-2 {
  padding-right: 0.5rem !important;
  padding-left: 0 !important;
}
.main-bg[dir=rtl] .ps-3 {
  padding-right: 1rem !important;
  padding-left: 0 !important;
}
.main-bg[dir=rtl] .ps-4 {
  padding-right: 1.5rem !important;
  padding-left: 0 !important;
}
.main-bg[dir=rtl] .ps-5 {
  padding-right: 3rem !important;
  padding-left: 0 !important;
}
.main-bg[dir=rtl] .text-start {
  text-align: right !important;
}
.main-bg[dir=rtl] .offcanvas-start {
  right: 0 !important;
  left: auto;
  transform: translateX(100%);
}
.main-bg[dir=rtl] .offcanvas.show {
  transform: none !important;
}
@media (min-width: 576px) {
  .main-bg[dir=rtl] .me-sm-3 {
    margin-left: 1rem !important;
    margin-right: 0 !important;
  }
  .main-bg[dir=rtl] .ms-sm-4 {
    margin-right: 1.5rem !important;
    margin-left: 0 !important;
  }
  .main-bg[dir=rtl] .ps-sm-4 {
    padding-right: 1.5rem !important;
    padding-left: 0 !important;
  }
}
.main-bg[dir=rtl] form .form-control {
  padding-right: 55px;
  padding-left: 0.75rem;
}
.main-bg[dir=rtl] form .input-icon {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.main-bg[dir=rtl] form .text-area .input-icon {
  border-bottom-right-radius: 0 !important;
}
.main-bg[dir=rtl] .services-section .card .tag,
.main-bg[dir=rtl] .contact-info-section .card .tag,
.main-bg[dir=rtl] .testimonials-section .card .tag {
  left: 20px;
  right: auto;
}
.main-bg[dir=rtl] .slick-slider .prev-arrow {
  left: 50px;
  right: auto !important;
}
.main-bg[dir=rtl] .slick-slider .next-arrow {
  left: 10px;
  right: auto !important;
}
.main-bg[dir=rtl] .vcard11-icon-container {
  left: 15px;
  right: auto;
}
.main-bg[dir=rtl] .icon-search-container.active .wp-btn {
  right: 85%;
  left: auto;
}
.main-bg[dir=rtl] .icon-search-container .search-input {
  right: 50px;
  left: auto;
}
.main-bg[dir=rtl] .top-header .sharedropdown-content,
.main-bg[dir=rtl] .top-header .dropdown-content {
  right: auto;
  left: 0;
}
