.img-box > input {
  display: none;
}

.template-border {
  border: 3px solid #0b9ef7 !important;
  border-radius: 10px !important;
}

.btn-check:focus + .btn {
  outline: unset !important;
  box-shadow: unset !important;
}

.btn:focus {
  outline: unset !important;
  box-shadow: unset !important;
}

.screen.image {
  padding: 5px;
  display: block;
  position: relative;
  cursor: pointer;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  height: auto;
}
.screen.image img {
  width: 100%;
  transition-duration: 0.5s;
  transform-origin: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 300px;
  transition: 5s all ease;
}
.screen.image:hover img {
  -o-object-position: left;
     object-position: left;
}

.screen.vcard_11 {
  padding: 5px;
  display: block;
  position: relative;
  cursor: pointer;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  height: auto;
}
.screen.vcard_11 img {
  width: 100%;
  transition-duration: 0.5s;
  transform-origin: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  height: 300px;
  transition: 5s all ease;
}
.screen.vcard_11:hover img {
  -o-object-position: right;
     object-position: right;
}

.theme-img-radio .screen.vcard_11 {
  padding: 5px;
  display: block;
  position: relative;
  cursor: pointer;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  height: auto;
}
.theme-img-radio .screen.vcard_11 img {
  width: 100%;
  transition-duration: 0.5s;
  transform-origin: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  height: 400px;
  transition: 5s all ease;
}
.theme-img-radio .screen.vcard_11:hover img {
  -o-object-position: right;
     object-position: right;
}

.theme-img-radio {
  padding: 5px;
  display: block;
  position: relative;
  cursor: pointer;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  height: auto;
  position: relative !important;
}
.theme-img-radio img {
  width: 100%;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 400px;
  transition: 5s all ease;
}
.theme-img-radio::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(239, 243, 246, 0.6509803922);
  opacity: 0;
}
.theme-img-radio:hover::after {
  opacity: 1;
}
.theme-img-radio:hover img {
  -o-object-position: left;
     object-position: left;
}

.theme-img-radio.img-border {
  border: 3px solid #0b9ef7 !important;
  border-radius: 10px !important;
  position: relative;
}
.theme-img-radio.img-border::before {
  position: absolute;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px !important;
  font-weight: 500;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 999;
}
.theme-img-radio.img-border::after {
  opacity: 1;
}

.badge-tag {
  left: -42px;
  top: 15px;
  transform: rotate(-38deg) !important;
  font-size: 14px;
  width: 150px;
  height: 26px;
  background-color: #d8d8d8;
  text-align: center;
  font-weight: 600;
  color: #6c757d;
}

.vcard-container .card-body .card-img .img-absolute {
  top: 0;
  left: 0;
  width: 100%;
  height: 74%;
  overflow: hidden;
}
@media (max-width: 1399px) {
  .vcard-container .card-body .card-img .img-absolute {
    height: 70%;
  }
}
@media (max-width: 1199px) {
  .vcard-container .card-body .card-img .img-absolute {
    height: 76%;
  }
}
@media (max-width: 767px) {
  .vcard-container .card-body .card-img .img-absolute {
    height: 80%;
  }
}
@media (max-width: 575px) {
  .vcard-container .card-body .card-img .img-absolute {
    height: 77%;
  }
}
@media (max-width: 460px) {
  .vcard-container .card-body .card-img .img-absolute {
    height: 72%;
  }
}
@media (max-width: 360px) {
  .vcard-container .card-body .card-img .img-absolute {
    height: 68%;
  }
}
.vcard-container .card-body .card-img .img-absolute img {
  vertical-align: middle;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
}
.vcard-container .card-body .card-img .vcard-actions {
  display: none;
  position: absolute;
  bottom: 32%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
@media (max-width: 767px) {
  .vcard-container .card-body .card-img .vcard-actions {
    bottom: 26%;
  }
}
@media (max-width: 575px) {
  .vcard-container .card-body .card-img .vcard-actions {
    bottom: 29%;
  }
}
@media (max-width: 460px) {
  .vcard-container .card-body .card-img .vcard-actions {
    bottom: 34%;
  }
}
@media (max-width: 360px) {
  .vcard-container .card-body .card-img .vcard-actions {
    bottom: 38%;
  }
}
.vcard-container .card-body .card-img .vcard-actions .vcard-button {
  background-color: #ffffff;
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
@media (max-width: 575px) {
  .vcard-container .card-body .card-img .vcard-actions .vcard-button {
    width: 35px;
    min-width: 35px;
    height: 35px;
  }
}
@media (max-width: 575px) {
  .vcard-container .card-body .card-img .vcard-actions .vcard-button svg {
    font-size: 16px !important;
  }
}
.vcard-container .card-body .card-img .vcard-actions .show-vcard a {
  color: #0ac074;
  text-decoration: none;
}
.vcard-container .card-body .card-img .vcard-actions .vcard-link-copy a {
  color: #ff8717;
  text-decoration: none;
}
.vcard-container .card-body .card-img .vcard-actions .show-chart a {
  color: #0099fb;
  text-decoration: none;
}
.vcard-container .card-body .card-img .vcard-actions .vcard-Subscribers a {
  color: #0099fb;
  text-decoration: none;
}
.vcard-container .card-body .card-img:hover .vcard-actions {
  display: block;
}
.vcard-container .card-body .desc {
  padding-top: 45%;
}
@media (max-width: 767px) {
  .vcard-container .card-body .desc {
    padding-top: 39%;
  }
}
@media (max-width: 575px) {
  .vcard-container .card-body .desc {
    padding-top: 42%;
  }
}
@media (max-width: 460px) {
  .vcard-container .card-body .desc {
    padding-top: 47%;
  }
}
@media (max-width: 360px) {
  .vcard-container .card-body .desc {
    padding-top: 51%;
  }
}

.col-custom {
  padding: 0 2px !important;
}
@media screen and (min-width: 1450px) {
  .col-custom {
    width: 20%;
  }
}
@media (min-width: 992px) and (max-width: 1450px) {
  .col-custom {
    width: 25%;
  }
}
@media (min-width: 800px) and (max-width: 991px) {
  .col-custom {
    width: 20%;
  }
}
@media (min-width: 650px) and (max-width: 800px) {
  .col-custom {
    width: 25%;
  }
}
@media (min-width: 470px) and (max-width: 650px) {
  .col-custom {
    width: 33.33%;
  }
}
@media screen and (max-width: 470px) {
  .col-custom {
    width: 50%;
  }
}

@media screen and (max-width: 580px) {
  .screen.image {
    max-width: 100% !important;
  }
}
