:root {
    --black: #000000;
    --white: #ffffff;
    --color-1: #FEEBDC;
    --color-2: #BBB3B3;
    --color-3: #FEAF11;
}

  
    @font-face {
        font-family: 'Clash-Display';
        src: url('../../assets/img/vcard26/ClashDisplay-Bold.otf');
        font-weight: 700;
        }

    @font-face {
        font-family: 'Clash-Display';
        src: url('../../assets/img/vcard26/ClashDisplay-Semibold.otf');
        font-weight: 600;
        }

    @font-face {
        font-family: 'Clash-Display';
        src: url('../../assets/img/vcard26/ClashDisplay-Regular.otf');
        font-weight: 500;
        }

    @font-face {
        font-family: 'Clash-Display';
        src: url('../../assets/img/vcard26/ClashDisplay-Medium.otf');
        font-weight: 400;
        }

    @font-face {
        font-family: 'Clash-Display';
        src: url('../../assets/img/vcard26/ClashDisplay-Light.otf');
        font-weight: 300;
        }

    @font-face {
        font-family: 'Clash-Display';
        src: url('../../assets/img/vcard26/ClashDisplay-Extralight.otf');
        font-weight: 200;
        }


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #e5e5e5 !important;
    font-family: 'Poppins', sans-serif;
}

.z-2 {
    z-index: 2;
}

.vcard-one.main-content {
    background-color: #fff;
    max-width: 576px;
    min-height: 100vh
}

.vcard-one .vcard-one-heading {
    color: #313bac;
    font-size: 28px;
    font-weight: 600
}

.vcard-one__banner {
    height: 350px
}

.vcard-one__banner img {
    height: 349px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    /* width: 100%; */
    position: relative;
}

.vcard-one__banner::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(1.25deg, #150022 1.13%, rgba(0, 0, 0, 0) 39.21%);

}

.vcard-one__banner .image-icon img {
    height: 20px;
    width: 25px
}

.vcard-one .activeSlot {
    background-color: #313bac !important;
    color: #fff !important
}

.vcard-one__profile .avatar {
    top: -50px;
}

.vcard-one__profile .avatar img {
    height: 96px;
    max-width: 112px;
    min-width: 112px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 110px;
    margin-top: 50px;
    /* border-radius: 18px;
    border: 3px solid var(--color-1); */
}

.vcard-one__profile-details {
    padding-top: 60px
}

.vcard-one__profile-details .profile-name,
.vcard-one__profile-details .profile-designation {
    font-family: 'Clash-Display';
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;

}

.text-color-1 {
    color: var(--color-1);
}


.divider {
    border-top: 1px solid;
    /* margin-bottom: 30px; */
}

.divider-verical {
    height: 60px;
    width: 2px;
    background-color: #000000;
}

.vcard-one__profile-details .profile-designation {
    color: #C29BF4;
    font-family: 'Syne';
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

}

.profile-post {
    color: #C29BF4;
    font-family: 'Syne';
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

}
.vcard-one__profile-details {
    background-color: #150022;
}

.vcard-one__profile-details .profile-company {
    font-size: 16px;
    padding-top: 5px
}

.vcard-one__profile-details .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px;
    text-decoration: none;
    width: 30px;
    height: 31px;
    background-color: var(--white);
    font-size: 20px;
    border-radius: 5px;
}

.vcard-one__profile-details .social-icons .icon {
    color: var(--black);
    cursor: pointer;
    transition: all .3s ease;
    font-size: 20px;
}
.contact-us{
    background-color: #150022;
}
.contact-us .centact-name {
    color: #C29BF4;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

}

.contact-us .contact-link {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

.main-heading {
    font-family: 'Clash-Display';
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;

}

.contact-icon {
    color: #C29BF4;
}

/* services */

.services {
    background-color: #FFFFFF;
}

.services .container {
    max-width: 540px;
}
.service-img img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}
/* .main-heading {
    color: #150022;
    font-family: 'Clash-Display';
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;

} */

.service-card .service-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .20);
}

.service-card .service-divider {
    background: #C29BF4;
    height: 30px;
    width: 1px;
    margin-top: -15px;
    margin-bottom: 5px;
}

.service-card .card-title {
    color: #150022;
    font-family: 'Clash-Display';
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;

}

.service-card .card-text {
    color: #150022;
    font-family: Poppins;
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;

}

/* gallery */
.gallery-wrapper{
    background-color: #150022;
}

.gallery-wrapper .slick-track {
    display: flex;
    gap: 10px;
}

.gallery-wrapper .slick-list {
    overflow: inherit;
}

.gallery-wrapper .slick-track .slick-slide.slick-active {
    margin-top: -25px;
}

.gallery-wrapper .gallery-slider-2 .slick-prev::before,
.blog-slider-2 .slick-prev::before {
    display: none;
}

.gallery-wrapper .gallery-slider-2 .slick-next::before,
.blog-slider-2 .slick-next::before {
    display: none;
}

.gallery-wrapper .gallery-slider-2 .slick-prev,
.blog-slider-2 .slick-prev {
    top: 100%;
    left: 40%;
}

.gallery-wrapper .gallery-slider-2 .slick-next,
.blog-slider-2 .slick-next {
    top: 100%;
    right: 40%;
}
.gallery-slider-2 img {
    height: 303px;
    object-fit: cover;
}
/* testimonial */

.testimonial-slider-2 {
    max-width: 450px;
}
.testimonial .main-heading{
    color: #150022;
}
.testimonial-card
{
    padding: 5px;
}
.testimonial-card .testimonial-profile {
    position: absolute;
    top: 0;
    left: 140px;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 2px 17px 0px #00000040;
}

.testimonial-slide {
    padding-top: 28px;
}

.testimonial-card .card-icon {
    margin-right: -8px;
    margin-top: -15px;
    padding-bottom: 40px;
}

.testimonial-slider-2 .slick-dots>li {
    display: inline-block;
    background-color: #D9D9D9;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.testimonial-slider-2 .slick-dots>li.slick-active {
    background-color: #080403;
}
.card-body2{
    margin-top: -25px;
}

.card-body2 .card-title {
    color: #080403;
    font-family: 'Clash-Display';
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}


.testimonial-card .card-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #8C8C8C;

}

.card-text2{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #8C8C8C;
}


/* blog */
.blog .blog-slide {
    height: 349px;
}

.main-heading {
    color: #150022;
   
}

.blog .blog-slide .card {
    max-width: 515px;
    margin: auto;
    border-radius: 0;
    border: 0;
}

.blog .card-img-overlay {
    background: linear-gradient(357.64deg, #150022 -0.67%, rgba(0, 0, 0, 0) 73.96%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2.5rem;
}

.blog .card-title {
    color: #FFFFFF;
    font-family: 'Clash-Display';
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

.blog .card-text {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

/* appointment */

.ps-30 {
    padding-left: 30px;
}
.appointment-wrapper{
    background-color: #150022;
}

.appointment {
    padding: 0 20px;
}

.form-label{
    font-family: 'Clash-Display', serif;
}

.appointment label {
    font-family: 'Playfair Display';
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;

}

.appointment .appoint-date {
    border: 1px solid var(--white);
    padding: 14px 30px;
    color: #939393;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}



.vcard-one .language ul {
    list-style: none
}

.vcard-one .language ul .lang-list {
    background: #313bac;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px 20px;
    transition: all .3s ease;
    width: -moz-fit-content;
    width: fit-content
}

.vcard-one .language ul .lang-list .lang-head,
.vcard-one .language ul .lang-list .lang-head i {
    color: #fff
}

.vcard-one .language ul .lang-list .lang-hover-list {
    font-size: 15px;
    left: unset !important;
    margin: 15px 0 0;
    min-width: 150px;
    right: 0;
    width: 115%
}

.vcard-one .language ul .lang-list .lang-hover-list li {
    padding: 5px 15px
}

.vcard-one .language ul .lang-list .lang-hover-list li:hover {
    background-color: #f1faff !important
}

.vcard-one .language ul .lang-list .lang-hover-list li:hover a {
    color: #009ef7 !important
}

.vcard-one .language ul .lang-list .lang-hover-list li.active {
    background-color: #f1faff !important
}

.vcard-one .language ul .lang-list .lang-hover-list li.active a {
    color: #009ef7 !important
}

.vcard-one .language ul .lang-list .lang-hover-list li a {
    color: #5e6278 !important;
    text-decoration: none
}

.vcard-one .language ul .lang-list .lang-hover-list li img {
    height: 20px !important;
    width: 25px !important
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: unset !important;
    outline: unset !important
}



.vcard-one .language ul .lang-list .lang-hover-list {
    margin: 0
}

.vcard-one .language ul .lang-list .lang-hover-list.top-dropdown {
    margin: -80px 0 0
}


.profile-description {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    max-width: 500px;
    padding: 0 15px;
    color: var(--color-2);
}
.slick-dots li button:before
{
    font-size: 0px !important;
}
.slider-dots .slick-dots li
{
    margin-right: 10px !important;
}
.testimonial-slide .testimonial-image img
{
    height: 256px;
    object-fit: cover;
}
.blog-content img
{
    height: 318px;
    object-fit: cover;
}
.btn-section .fixed-btn-section .bars-btn{
    background-color: #1f1f1f;
    box-shadow: 0 0 15px hsla(0,0%,62%,.2);
}
.stickyIcon button, .stickyIcon a {
    background: #fff;
    border: 1px solid #1f1f1f;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.appointment .time-slot {
    border: 1px solid var(--white);
    padding: 14px 10px;
    color: #939393;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    background: transparent;
    cursor: pointer;
    border-radius: 0;
}
.appointment .activeSlot {
    background: #fff !important;
    color: #000 !important;
}
.appointmentAdd {
    background: transparent !important;
    border-color: #fff !important;
    border-radius: 0 !important;
    padding: 10px !important;
    font-family: 'Playfair Display', serif;
}