:root {
    --black: #000000;
    --white: #ffffff;
    --navy-blue: #1D2051;
    --color-1: #FEEBDC;
    --color-2: #8A8A8A;
    --color-3: #FEAF11;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #e5e5e5 !important;
    font-family: 'Poppins', sans-serif;
}

.z-2 {
    z-index: 2;
}

.vcard-one.main-content {
    background-color: #fff;
    max-width: 576px;
    min-height: 100vh
}

.vcard-one .vcard-one-heading {
    color: #313bac;
    font-size: 28px;
    font-weight: 600
}

.vcard-one__banner {
    height: 380px
}

.vcard-one__banner img {
    height: 380px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    position: relative;
}

.vcard-one__banner::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #1A1F53;
    opacity: 70%;
}

.banner-overlay {
    width: 170px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #1A1F53;
    opacity: 80%;
    z-index: 1;
}

.vcard-one__banner .image-icon img {
    height: 20px;
    width: 25px
}

.vcard-one .activeSlot {
    background-color: #313bac !important;
    color: #fff !important
}

.vcard-one__profile .avatar {
    top: -50px;
}

.vcard-one__profile .avatar img {
    height: 110px;
    max-width: 110px;
    min-width: 110px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 110px;
    border-radius: 18px;
    border: 3px solid var(--color-1);
}

.vcard-one__profile-details {
    position: absolute;
    top: 45%;
    z-index: 2;
    padding: 0 20px 0 40px;
}

.vcard-one__profile-details .profile-name-first {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
}

.vcard-one__profile-details .profile-name-last {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
}

.vcard-one__profile-details .profile-designation {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    background-color: var(--white);
    padding: 7px 10px;
    color: #2D3161;
    margin-top: 8px;
}

/* about start */
.about-img {
    border: 5px solid #1D2051;
}

.about-img img {
    margin-left: -15px;
    margin-top: -40px;
    height: 390px;
    object-fit: cover;
    -o-object-fit: cover;
}

.about-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: #1D2051;
    position: relative;
}

.about-title::before {
    content: '';
    position: absolute;
    top: -10px;
    width: 50px;
    border-radius: 5px;
    height: 3px;
    background-color: #1D2051;
}

.about-desc {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: var(--color-2);
}

hr {
    border: 1px solid #CECECE;
    margin: 0;
}

/* about end */

/* Qualification */

.qualification-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    color: #1D2051;
}

.qualification-card {
    background: #FAFAFA;
    border-left: 5px solid #1D2051;
}

.qualification-card .card-arrow {
    height: 13px;
    width: 12px;
    background-color: #1D2051;
    position: absolute;
    left: 0;
    top: 15px;
}

.qualification-card .card-arrow::after {
    content: '';
    border: 7px solid #fff;
    width: auto;
    position: absolute;
    right: -12px;
    border-left-color: #1D2051;
}

.qualification-card .card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    color: #1D2051;
}

.qualification-card .card-text {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: var(--color-2);
}

/* gllery */

#gallery img {
    height: 169px;
    width: 168px;
    object-fit: cover;
}

.main-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    color: #1D2051;
    text-align: center;
    position: relative;
    display: table;
    margin: 0 auto;
}

.main-heading::before {
    content: '';
    position: absolute;
    top: -10;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    border-top: 4px solid;
}

.text-navy-blue {
    color: var(--navy-blue);
}


.divider {
    border-top: 2px solid;
}


.vcard-one__profile-details .profile-company {
    font-size: 16px;
    padding-top: 5px
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px;
    text-decoration: none;
    width: 22px;
    height: 22px;
    background-color: #1D2051;
    color: var(--white);
    font-size: 14px;
    border-radius: 5px;
}

.vcard-one__profile-details .social-icons .icon {
    color: var(--black);
    cursor: pointer;
    transition: all .3s ease
}

.contact-us .centact-name {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;

}

.contact-us .contact-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

/* services */

.services {
    background-color: #FFFAF5;
}

.services .container {
    max-width: 540px;
}

.service-card .service-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .20);
}

.service-card .service-divider {
    background: #FEAF11;
    height: 30px;
    width: 1px;
    margin-top: -15px;
    margin-bottom: 5px;
}

.service-card .card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.service-card .card-text {
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
}

/* gallery */

.gallery-wrapper .slick-track {
    display: flex;
    gap: 10px;
}

.gallery-wrapper .slick-list {
    overflow: inherit;
}

.gallery-wrapper .slick-track .slick-slide.slick-active {
    margin-top: -25px;
}

.gallery-wrapper .gallery-slider-2 .slick-prev::before,
.blog-slider-2 .slick-prev::before {
    display: none;
}

.blog-slider-2 .slick-next::before {
    display: none;
}

.blog-slider-2 .slick-prev {
    top: 100%;
    left: 44%;
}

.blog-slider-2 .slick-next {
    top: 100%;
    right: 44%;
}

/* testimonial */

.testimonial-slider-2 {
    max-width: 450px;
}

.testimonial-slide {
    padding-top: 35px;
}

.testimonial-card {
    display: flex;
    gap: 15px;
    padding: 50px 0 40px 30px;
    justify-content: space-between;
}

.testimonial-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
    background: #FAFAFA;
    z-index: -1;
}

.testimonial-card .qoute {
    position: absolute;
    top: -32px;
    left: 18px;
}

.testimonial-card .testimonial-desc p {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: var(--color-2);
}

.testimonial-card .testimonial-profile {
    height: 100px;
    width: 105px;
    object-fit: cover;
    -o-object-fit: cover;
    margin-bottom: 8px;
}

.testimonial-card .profile-name {
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    color: #1D2051;
}

.testimonial-card .designation {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: var(--color-2);
}

.testimonial-slider-2 .slick-dots>li {
    display: inline-block;
    background-color: #D9D9D9;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 0 4px;
}

.testimonial-slider-2 .slick-dots>li.slick-active {
    background-color: #1D2051;
}

.testimonial-card .card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}

.testimonial-card .card-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #8C8C8C;
}

/* blog */

.blog {
    background-image: url('../img/vcard19/bg-blog.png');
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 70px 0 90px;
}

.blog::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0.8;
    background-color: #1D2051;
}

.blog .blog-slide {
    height: 145px;
}

.blog .blog-slide .card {
    background-color: transparent;
    margin: 0 5px;
    border-radius: 0;
    border: 0;
}

.blog .card-img-overlay {
    background: linear-gradient(357.64deg, #1D2051 -0.67%, rgba(0, 0, 0, 0) 73.96%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 8px;
}

.blog .card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    color: var(--white);
}

.blog .slick-track {
    margin-bottom: 10px;
}

.blog .slick-next.slick-disabled svg path,
.blog .slick-prev.slick-disabled svg path {
    fill: #9E9E9E;
}
.blog-img
{
    height: 150px;
    object-fit: cover;
}

/* appointment */

.ps-30 {
    padding-left: 30px;
}

.appointment-wrapper {
    background-color: #1D2051;
    padding: 70px 0;
}

.appointment {
    padding: 0 20px;
}

.appointment label {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 15px;
}
.app-hours
{
    justify-content: space-between;
}
.centact-name, .contact-link {
    font-size: 12px;
}
.appointment .appoint-date,.appointment .time-slot {
    border: 1px solid var(--white);
    padding: 14px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    background: transparent;
    cursor: pointer;
    border-radius: 0px !important;
    min-width: 160px;
}
.appointment .activeSlot {
    background-color: #ffffff !important;
    color: #1d2051 !important;
}
.appointmentAdd {
    margin-top: 20px;
    padding: 10px;
    background: transparent !important;
    border-color: #fff !important;
    border-radius: 0 !important;
}

.vcard-one .language ul {
    list-style: none
}

.vcard-one .language ul .lang-list {
    background: #313bac;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px 20px;
    transition: all .3s ease;
    width: -moz-fit-content;
    width: fit-content
}

.vcard-one .language ul .lang-list .lang-head,
.vcard-one .language ul .lang-list .lang-head i {
    color: #fff
}

.vcard-one .language ul .lang-list .lang-hover-list {
    font-size: 15px;
    left: unset !important;
    margin: 15px 0 0;
    min-width: 150px;
    right: 0;
    width: 115%
}

.vcard-one .language ul .lang-list .lang-hover-list li {
    padding: 5px 15px
}

.vcard-one .language ul .lang-list .lang-hover-list li:hover {
    background-color: #f1faff !important
}

.vcard-one .language ul .lang-list .lang-hover-list li:hover a {
    color: #009ef7 !important
}

.vcard-one .language ul .lang-list .lang-hover-list li.active {
    background-color: #f1faff !important
}

.vcard-one .language ul .lang-list .lang-hover-list li.active a {
    color: #009ef7 !important
}

.vcard-one .language ul .lang-list .lang-hover-list li a {
    color: #5e6278 !important;
    text-decoration: none
}

.vcard-one .language ul .lang-list .lang-hover-list li img {
    height: 20px !important;
    width: 25px !important
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: unset !important;
    outline: unset !important
}



.vcard-one .language ul .lang-list .lang-hover-list {
    margin: 0
}

.vcard-one .language ul .lang-list .lang-hover-list.top-dropdown {
    margin: -80px 0 0
}


.profile-description {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    max-width: 500px;
    padding: 0 15px;
    color: var(--color-2);
}
.social-icons a .fa-2x
{
    font-size: 1em !important;
}
.slick-dots li button:before
{
    display: none;
}
.btn-section .fixed-btn-section .bars-btn{
    background-color: #1d2051;
    box-shadow: 0 0 15px hsla(0,0%,62%,.2);
}
.stickyIcon button, .stickyIcon a {
    background: #fff;
    border: 1px solid #1d2051;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #1d2051;
}
.stickyIcon button svg, .stickyIcon a svg
{
    color: #1d2051 !important;
}
