.bg-primary {
  background-color: #d94b2b !important;
}

.bg-light {
  background-color: #f5f5f5 !important;
}

.text-gray-100 {
  color: #767c88 !important;
}

.text-primary {
  color: #d94b2b !important;
}

.text-secondary {
  color: #08090a !important;
}

.bg-secondary {
  background-color: #08090a !important;
}

body {
  font-family: "Poppins";
  font-weight: 400 !important;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 575px) {
  .px-40 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.px-14 {
  padding-left: 14px;
  padding-right: 14px;
}
@media (max-width: 575px) {
  .px-14 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.pt-100 {
  padding-top: 100px;
}

.mb-30 {
  margin-bottom: 30px;
}

.word-wrap {
  word-break: break-all;
}

.section-heading {
  margin-bottom: 30px;
}
.section-heading h2 {
  font-size: 24px;
  padding-left: 25px;
  display: inline-block;
  margin-bottom: 0;
  color: #08090a;
  position: relative;
}
.section-heading h2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: #d94b2b;
}

.btn {
  border-radius: 0;
  font-weight: 500;
  padding: 10px 23px;
}
.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  color: #ffffff;
  background-color: #d94b2b;
  border: 1px solid #d94b2b;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.active {
  color: #d94b2b;
  background-color: #ffffff;
  border: 1px solid #d94b2b;
}

.btn-secondary {
  color: #d94b2b;
  background-color: #08090a;
  border: 1px solid #d94b2b;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary.active {
  color: #08090a;
  background-color: #d94b2b;
  border: 1px solid #d94b2b;
}

.main-content {
  position: relative;
}

.banner-section .banner-img {
  width: 100%;
  height: 290px;
  background-image: url("/assets/img/vcard31/banner-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.profile-section {
  position: relative;
}
.profile-section .profile-bg-img {
  position: absolute;
  left: 60px;
  top: 120px;
}
.profile-section .profile-bg-img img {
  width: 100%;
}
@media (max-width: 768px) {
  .profile-section .profile-bg-img img {
    width: 85%;
  }
}
@media (max-width: 575px) {
  .profile-section .profile-bg-img {
    left: auto;
    right: 20px;
    bottom: -70px;
  }
  .profile-section .profile-bg-img img {
    width: 50%;
  }
}
.profile-section .card {
  margin-top: -100px;
  background-color: transparent !important;
  border: none;
}
@media (max-width: 768px) {
  .profile-section .card {
    margin-top: -90px;
  }
}
.profile-section .card .card-img {
  width: 200px;
  height: 200px;
  min-width: 200px;
  overflow: hidden;
  margin-top: -100px;
  border-radius: 0;
}
@media (max-width: 768px) {
  .profile-section .card .card-img {
    width: 170px;
    height: 170px;
    min-width: 170px;
    margin-top: -80px;
  }
}
.profile-section .card .card-body {
  padding: 20px 25px;
}
@media (max-width: 575px) {
  .profile-section .card .card-body {
    padding: 20px;
  }
}

.contact-section {
  position: relative;
}
.contact-section .contact-box .contact-icon {
  width: 50px;
  min-width: 50px;
  height: 50px;
  background-color: #f5f5f5;
}

.social-media .social-icon,
.social-media .social-back {
  width: 40px;
  height: 40px;
  min-width: 40px;
  margin: 0 7px;
  background-color: #d94b2b;
}
@media (max-width: 575px) {
  .social-media .social-icon,
  .social-media .social-back {
    margin: 0 5px;
  }
}
.social-media .social-icon svg,
.social-media .social-icon img,
.social-media .social-back svg,
.social-media .social-back img {
  width: 25px !important;
  height: 25px !important;
  color: #ffffff !important;
  fill: #ffffff !important;
}
.social-media .social-icon:first-child,
.social-media .social-back:first-child {
  margin-left: 0;
}
.social-media .social-icon:last-child,
.social-media .social-back:last-child {
  margin-right: 0;
}

.our-services-section {
  position: relative;
}
.our-services-section .services-bg-img {
  position: absolute;
  left: 250px;
  top: 63px;
}
.our-services-section .services-bg-img img {
  width: 100%;
}
@media (max-width: 768px) {
  .our-services-section .services-bg-img img {
    width: 85%;
  }
}
@media (max-width: 575px) {
  .our-services-section .services-bg-img {
    left: 220px;
    top: 42px;
  }
  .our-services-section .services-bg-img img {
    width: 65%;
  }
}
.our-services-section .services .services-slider-view .slick-list {
  height: 250px !important;
  padding-top: 5px !important;
}
@media (max-width: 500px) {
  .our-services-section .services .services-slider-view .slick-list {
    height: 250px !important;
  }
}
.our-services-section .services .service-card {
  position: relative;
  padding: 20px;
  background-color: #f5f5f5;
  margin: 7px !important;
}
.our-services-section .services .service-card .card-img {
  width: 40px;
  height: 40px;
  min-width: 40px;
}
.our-services-section .services .service-card .card-body p {
  display: -webkit-box;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.appointment-section {
  position: relative;
}
.appointment-section .appointment-bg-img {
  position: absolute;
  right: 30px;
  top: 50px;
}
.appointment-section .appointment-bg-img img {
  width: 100%;
}
@media (max-width: 768px) {
  .appointment-section .appointment-bg-img {
    top: 55px;
  }
  .appointment-section .appointment-bg-img img {
    width: 85%;
  }
}
@media (max-width: 575px) {
  .appointment-section .appointment-bg-img {
    right: 20px;
    top: 70px;
  }
  .appointment-section .appointment-bg-img img {
    width: 65%;
  }
}
.appointment-section .appointment .appointment-input {
  width: 100%;
  height: 50px;
  padding: 12px 25px;
  border-radius: 0;
  background-color: #ffffff;
  border: 1px solid #b5b9c0;
  color: #08090a;
}
.appointment-section .appointment .appointment-input::-moz-placeholder {
  color: #767c88;
}
.appointment-section .appointment .appointment-input::placeholder {
  color: #767c88;
}
.appointment-section .appointment .appointment-input:focus {
  box-shadow: none;
  outline: none;
}
.appointment-section .appointment .appointment-input .calendar-icon {
  position: absolute;
  right: 20px;
  top: 18px;
}
.appointment-section .appointment .calendar-icon {
  position: absolute;
  right: 18px;
  top: 11px;
}
.appointment-section .appointment .hour-input {
  height: 50px;
  font-size: 14px;
  padding: 13px;
  border-radius: 0;
  background-color: #f5f5f5;
}
.appointment-section .appointment .btn-primary {
  max-width: 300px;
}

.gallery-section {
  position: relative;
}
.gallery-section .gallery-slider {
  position: relative;
  padding-left: 20px;
}
@media (max-width: 575px) {
  .gallery-section .gallery-slider {
    padding-left: 0;
  }
}
.gallery-section .gallery-slider .gallery-img {
  margin: 0 auto;
  max-width: 220px;
  max-height: 180px;
  height: 180px;
  overflow: hidden;
}
.gallery-section .gallery-slider .gallery-img img,
.gallery-section .gallery-slider .gallery-img iframe {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.gallery-section .gallery-slider .gallery-img .gallery-file-link {
  display: block;
  width: 100%;
  height: 100%;
}
.gallery-section .gallery-slider .gallery-img .gallery-file-item {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.gallery-section .gallery-slider .slide-arrow {
  width: 30px;
  height: 30px;
  min-width: 30px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #d94b2b;
  position: absolute;
  z-index: 9;
  top: -60px;
  font-size: 20px;
}
.gallery-section .gallery-slider .prev-arrow {
  right: 70px;
}
.gallery-section .gallery-slider .next-arrow {
  right: 26px;
}

.product-section {
  position: relative;
}
.product-section .product-bg-img {
  position: absolute;
  right: 30px;
  top: 60px;
}
.product-section .product-bg-img img {
  width: 100%;
}
@media (max-width: 768px) {
  .product-section .product-bg-img img {
    width: 85%;
  }
}
@media (max-width: 575px) {
  .product-section .product-bg-img {
    right: 20px;
    top: 40px;
  }
  .product-section .product-bg-img img {
    width: 65%;
  }
}
.product-section .product-slider .product-card {
  max-width: 250px;
  margin: auto;
  height: 100%;
  border-radius: 0;
  border: none;
  overflow: hidden;
  padding: 10px;
  height: 280px;
  background-size: cover;
}
@media (max-width: 575px) {
  .product-section .product-slider .product-card {
    margin: 0 auto;
  }
}
.product-section .product-slider .product-card .card-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-section .product-slider .product-card .desc-div {
  position: absolute;
  margin: 10px;
  bottom: 0;
}
.product-section .product-slider .product-card.card-1 {
  background-image: url("/assets/img/vcard31/product-img1.png");
}
.product-section .product-slider .product-card.card-2 {
  background-image: url("/assets/img/vcard31/product-img2.png");
}
.product-section .product-slider .product-card .product-desc {
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  width: 210px !important;
}
.product-section .product-slider .product-card .product-desc .product-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-section .product-slider .product-card .product-desc p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.testimonial-section {
  position: relative;
}
.testimonial-section .testimonial-bg-img {
  position: absolute;
  right: 150px;
  top: 40px;
}
.testimonial-section .testimonial-bg-img img {
  width: 100%;
}
@media (max-width: 768px) {
  .testimonial-section .testimonial-bg-img img {
    width: 85%;
  }
}
@media (max-width: 575px) {
  .testimonial-section .testimonial-bg-img {
    right: 20px;
    top: 30px;
  }
  .testimonial-section .testimonial-bg-img img {
    width: 65%;
  }
}
.testimonial-section .testimonial-slider {
  position: relative;
}
.testimonial-section .testimonial-slider .testimonial-card {
  position: relative;
  border: none;
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 50px;
}
.testimonial-section .testimonial-slider .testimonial-card .testimonial-profile-img {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  min-width: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: auto;
}
.testimonial-section .testimonial-slider .testimonial-card .card-body .desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.testimonial-section .testimonial-slider .slide-arrow {
  width: 30px;
  height: 30px;
  min-width: 30px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #d94b2b;
  position: absolute;
  z-index: 9;
  top: -60px;
  font-size: 20px;
}
.testimonial-section .testimonial-slider .prev-arrow {
  right: 70px;
}
.testimonial-section .testimonial-slider .next-arrow {
  right: 26px;
}

.blog-section {
  position: relative;
}
.blog-section .blog-bg-img {
  position: absolute;
  right: 30px;
  top: 56px;
}
.blog-section .blog-bg-img img {
  width: 100%;
}
@media (max-width: 768px) {
  .blog-section .blog-bg-img img {
    width: 85%;
  }
}
@media (max-width: 575px) {
  .blog-section .blog-bg-img {
    right: 20px;
    top: 45px;
  }
  .blog-section .blog-bg-img img {
    width: 65%;
  }
}
.blog-section .blog-card {
  min-height: 170px;
  max-width: 248px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .blog-section .blog-card {
    max-width: 240px;
  }
}
.blog-section .blog-card .blog-img {
  width: 100%;
  height: 150px;
}
.blog-section .blog-card .blog-head {
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}
.blog-section .blog-card .blog-desc {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.business-hour-section {
  position: relative;
}
.business-hour-section .hour-bg-img {
  position: absolute;
  left: 20px;
  bottom: 0;
}
.business-hour-section .hour-bg-img img {
  width: 100%;
}
@media (max-width: 768px) {
  .business-hour-section .hour-bg-img img {
    width: 85%;
  }
}
@media (max-width: 575px) {
  .business-hour-section .hour-bg-img {
    left: 5px;
  }
  .business-hour-section .hour-bg-img img {
    width: 55%;
  }
}
.business-hour-section .home-img {
  position: absolute;
  left: 0;
  top: 50px;
}
.business-hour-section .home-img img {
  width: 100%;
}
@media (max-width: 575px) {
  .business-hour-section .home-img {
    top: 30px;
  }
  .business-hour-section .home-img img {
    width: 65%;
  }
}
.business-hour-section .business-hours .hour {
  background-color: #ffffff;
  border-radius: 10px;
  color: #d94b2b;
  padding: 12px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.business-hour-section .business-hours span {
  font-size: 14px;
}
@media (max-width: 575px) {
  .business-hour-section .business-hours span {
    font-size: 14px;
  }
}

.qr-code-section {
  position: relative;
}
.qr-code-section .qr-bg-img {
  position: absolute;
  top: 10px;
  right: 0;
}
.qr-code-section .qr-bg-img img {
  width: 100%;
}
@media (max-width: 768px) {
  .qr-code-section .qr-bg-img img {
    width: 85%;
  }
}
@media (max-width: 575px) {
  .qr-code-section .qr-bg-img img {
    width: 65%;
  }
}
.qr-code-section .qr-profile-img {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  min-width: 120px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: white;
  overflow: hidden;
  margin-top: 10px;
}
.qr-code-section .qr-code-img {
  width: 140px;
  height: 140px;
  min-width: 140px;
}

.contact-us-section {
  position: relative;
}
.contact-us-section .add-to-bag-img {
  position: absolute;
  right: 10px;
  top: 30px;
}
.contact-us-section .add-to-bag-img img {
  width: 100%;
}
@media (max-width: 575px) {
  .contact-us-section .add-to-bag-img {
    right: 0px;
  }
  .contact-us-section .add-to-bag-img img {
    width: 75%;
  }
}
.contact-us-section .contact-bg-img {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: -1;
}
.contact-us-section .contact-bg-img img {
  width: 100%;
}
.contact-us-section .contact-form form .form-control {
  background-color: #ffffff;
  padding: 0;
  height: 50px;
  border: none;
  border-bottom: 1px solid #d94b2b;
  border-radius: 0;
  font-size: 14px;
  color: #767c88;
}
.contact-us-section .contact-form form .form-control::-moz-placeholder {
  color: #767c88;
}
.contact-us-section .contact-form form .form-control::placeholder {
  color: #767c88;
}
.contact-us-section .contact-form form .form-control:focus {
  box-shadow: none;
  outline: none;
}
.contact-us-section .contact-form form .btn {
  width: 100%;
}

.create-vcard-section {
  position: relative;
}
.create-vcard-section .create-vcard-bg-img {
  position: absolute;
  top: -42px;
  right: 15px;
}
.create-vcard-section .create-vcard-bg-img img {
  width: 100%;
}
@media (max-width: 768px) {
  .create-vcard-section .create-vcard-bg-img {
    top: -17px;
  }
  .create-vcard-section .create-vcard-bg-img img {
    width: 85%;
  }
}
@media (max-width: 575px) {
  .create-vcard-section .create-vcard-bg-img {
    top: 19px;
    right: 5px;
  }
  .create-vcard-section .create-vcard-bg-img img {
    width: 50%;
  }
}
.create-vcard-section .add-to-contact-bg-img {
  position: absolute;
  bottom: 0;
  left: 20px;
}
.create-vcard-section .add-to-contact-bg-img img {
  width: 100%;
}
@media (max-width: 768px) {
  .create-vcard-section .add-to-contact-bg-img img {
    width: 85%;
  }
}
@media (max-width: 575px) {
  .create-vcard-section .add-to-contact-bg-img {
    left: 15px;
  }
  .create-vcard-section .add-to-contact-bg-img img {
    width: 50%;
  }
}
.create-vcard-section .delivery-van-img {
  position: absolute;
  left: 10px;
  top: 10px;
}
.create-vcard-section .delivery-van-img img {
  width: 100%;
}
@media (max-width: 575px) {
  .create-vcard-section .delivery-van-img img {
    width: 65%;
  }
}
.create-vcard-section .vcard-link-card {
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 0;
}
.create-vcard-section .vcard-link-card .link-text {
  font-size: 18px;
  word-break: break-all;
}
@media (max-width: 575px) {
  .create-vcard-section .vcard-link-card .link-text {
    font-size: 16px;
  }
}

.add-to-contact-section {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 65px;
  z-index: 9;
}

.btn-section .fixed-btn-section .handyman-bars-btn {
  background-color: #d94b2b;
}
.btn-section .fixed-btn-section .sub-btn .handyman-sub-btn {
  background-color: #ffffff;
  border: 1px solid #d94b2b;
}

.slick-dotted.slick-slider {
  margin-bottom: 10px;
}

.slick-dots {
  position: relative;
  bottom: -15px;
}
.slick-dots li {
  margin: 0 4px !important;
  width: 8px !important;
  height: 8px !important;
}
.slick-dots li button {
  width: 8px !important;
  height: 8px !important;
  font-size: 0 !important;
}
.slick-dots li button:before {
  font-size: 0 !important;
  width: 8px !important;
  height: 8px !important;
  border-radius: 10px;
  background-color: rgba(217, 75, 43, 0.1882352941);
  content: "" !important;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: #d94b2b;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 575px) {
  .px-30 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}
@media (max-width: 575px) {
  .fs-18 {
    font-size: 16px;
  }
}

.fs-20 {
  font-size: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-40 {
  margin-top: 40px;
}
@media (max-width: 575px) {
  .mt-40 {
    margin-top: 30px;
  }
}

.mb-40 {
  margin-bottom: 40px;
}
@media (max-width: 575px) {
  .mb-40 {
    margin-bottom: 30px;
  }
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}
@media (max-width: 575px) {
  .mx-30 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pb-50 {
  padding-bottom: 50px;
}
@media (max-width: 575px) {
  .pb-50 {
    padding-bottom: 40px;
  }
}

.pt-40 {
  padding-top: 40px;
}
@media (max-width: 575px) {
  .pt-40 {
    padding-top: 25px;
  }
}

.pb-40 {
  padding-bottom: 40px;
}
@media (max-width: 575px) {
  .pb-40 {
    padding-bottom: 25px;
  }
}

.pt-60 {
  padding-top: 60px;
}
@media (max-width: 575px) {
  .pt-60 {
    padding-top: 40px;
  }
}

.pb-60 {
  padding-bottom: 60px;
}
@media (max-width: 575px) {
  .pb-60 {
    padding-bottom: 40px;
  }
}

.pt-30 {
  padding-top: 30px;
}
@media (max-width: 575px) {
  .pt-30 {
    padding-top: 20px;
  }
}

.pb-30 {
  padding-bottom: 30px;
}
@media (max-width: 575px) {
  .pb-30 {
    padding-bottom: 20px;
  }
}

.pt-50 {
  padding-top: 50px;
}
@media (max-width: 575px) {
  .pt-50 {
    padding-top: 40px;
  }
}

.pt-80 {
  padding-top: 80px;
}
@media (max-width: 575px) {
  .pt-80 {
    padding-top: 40px;
  }
}

.pb-80 {
  padding-bottom: 80px;
}
@media (max-width: 575px) {
  .pb-80 {
    padding-bottom: 40px;
  }
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fs-12 {
  font-size: 12px;
}

.fs-36 {
  font-size: 36px;
}
@media (max-width: 575px) {
  .fs-36 {
    font-size: 30px;
  }
}

.fs-30 {
  font-size: 30px;
}
@media (max-width: 575px) {
  .fs-30 {
    font-size: 28px;
  }
}

.fs-28 {
  font-size: 28px;
}
@media (max-width: 575px) {
  .fs-28 {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
}

.main-content {
  max-width: 576px;
  min-height: 100vh;
}

.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.flex-1 {
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-section {
  position: absolute;
  top: 50%;
  right: 80px;
  z-index: 9;
}
.btn-section .fixed-btn-section {
  position: fixed;
  top: 50%;
  display: flex;
  align-items: center;
}
.btn-section .fixed-btn-section .bars-btn {
  width: 65px;
  height: 65px;
  min-width: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-section .fixed-btn-section .sub-btn {
  position: absolute;
  right: 75px;
  display: none;
}
.btn-section .fixed-btn-section .sub-btn .social-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-section .fixed-btn-section .sub-btn .social-btn i {
  font-size: 24px;
}

.slick-dots li {
  margin: 0;
}
.slick-dots li button:before {
  font-size: 30px;
  opacity: 1;
}

.language ul {
  list-style: none;
}
.language ul .lang-list {
  padding: 10px 20px;
  background: #d94b2b;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}
.language ul .lang-list .lang-head {
  color: #ffffff;
}
.language ul .lang-list .lang-head i {
  color: #ffffff;
}
.language ul .lang-list .lang-hover-list {
  margin: 15px 0 0;
  font-size: 15px;
  width: 115%;
  left: unset !important;
  right: 0;
  min-width: 150px;
}
.language ul .lang-list .lang-hover-list li {
  padding: 5px 15px;
}
.language ul .lang-list .lang-hover-list li:hover {
  background-color: #f1faff !important;
}
.language ul .lang-list .lang-hover-list li:hover a {
  color: #009ef7 !important;
}
.language ul .lang-list .lang-hover-list li.active {
  background-color: #f1faff !important;
}
.language ul .lang-list .lang-hover-list li.active a {
  color: #009ef7 !important;
}
.language ul .lang-list .lang-hover-list li a {
  color: #5e6278 !important;
  text-decoration: none;
  font-size: 14px !important;
}
.language ul .lang-list .lang-hover-list li img {
  height: 20px !important;
  width: 25px !important;
}

.add-contact-btn {
  width: 200px !important;
  width: 250px !important;
  height: 40px !important;
  margin: 0 auto;
  color: #ffffff;
  z-index: 9999;
  padding: 7px;
  margin-bottom: -35px !important;
}
.add-contact-btn i {
  font-size: 1rem;
}

.send-btn {
  height: 40px;
  padding: 6px 30px;
  width: 250px !important;
  margin-bottom: 60px;
}

.insta-feed {
  max-height: 1000px !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

.insta-feed::-webkit-scrollbar {
  width: 0px;
}

.insta-feed::-webkit-scrollbar-thumb {
  background-color: #f1faff !important;
}

.insta-feed::-webkit-scrollbar-track {
  background-color: #f1faff !important;
}

.insta-feed-iframe iframe {
  border-radius: 15px !important;
  border: none !important;
}

.instagram-btn {
  flex: 1;
  position: relative;
  background: transparent;
}
.instagram-btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 100%;
  background-color: #d94b2b;
  transition: width 0.3s ease;
}
.instagram-btn.active::before {
  width: 80%;
}
.instagram-btn .svg-post-icon rect,
.instagram-btn .svg-post-icon line {
  stroke: #d94b2b;
}
.instagram-btn.active .svg-post-icon rect, .instagram-btn.active .svg-post-icon line {
  fill: #d94b2b;
  stroke: #f9f5f9;
}
.instagram-btn .svg-reels-icon .not-active-svg {
  display: block;
}
.instagram-btn .svg-reels-icon .active-svg {
  display: none;
}
.instagram-btn .svg-reels-icon path.not-active-svg,
.instagram-btn .svg-reels-icon rect {
  fill: #d94b2b;
}
.instagram-btn .svg-reels-icon path {
  fill: #d94b2b;
}
.instagram-btn.active .svg-reels-icon .not-active-svg, .instagram-btn.active .svg-reels-icon rect {
  display: none;
}
.instagram-btn.active .svg-reels-icon .active-svg {
  display: block;
}

.insta-toggle {
  border-radius: 35px !important;
  margin: 10px !important;
  padding: 5px !important;
  transition: all 0.3s ease !important;
}

#instafeed-container a img {
  width: 44%;
  height: 200px !important;
  margin: 11px;
  border-radius: 15px;
}

.instagram-media {
  min-width: 50% !important;
  max-width: 100% !important;
}

.modal-backdrop {
  background-color: transparent !important;
}

.activeSlot {
  background-color: #d94b2b !important;
  color: #f5f2fb !important;
  cursor: pointer;
}

.time-slot {
  font-size: 15px;
  background-color: #f5f5f5 !important;
  color: #211c29 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #f5f5f5;
}
.time-slot:hover, .time-slot.activeSlot {
  border: 1px solid #d94b2b;
  background-color: #d94b2b !important;
  color: #f5f2fb !important;
}

.vcard31-sticky-btn {
  background: #d94b2b;
  color: #d94b2b;
  border: 1px solid #d94b2b;
  border-radius: 5px;
  height: 40px;
}

.vcard31-btn-group {
  width: 50px;
  height: 50px;
  color: #d94b2b;
  background-color: #ffffff;
  border-radius: 50px !important;
}

.modal {
  z-index: 99999 !important;
  background-color: rgba(0, 0, 0, 0.5019607843);
}
.modal .news-modal {
  margin-top: 250px !important;
}
.modal .news-modal #newsLatter-content {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0.475rem;
  outline: 0;
  background-color: #212020;
}
.modal .news-modal #newsLatter-content .newsmodal-header .btn-close {
  background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ADB5BD'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat;
  padding: 2rem !important;
}
.modal .news-modal #newsLatter-content .newsmodal-header .newsmodal-title {
  font-size: 50px;
  text-align: center !important;
  color: #d94b2b;
}
.modal .news-modal #newsLatter-content .modal-body {
  padding: 1.75rem;
}
.modal .news-modal #newsLatter-content .modal-body .content {
  color: #d94b2b;
  font-size: 28px;
}
.modal .news-modal #newsLatter-content .modal-body .modal-desc {
  color: silver;
  font-size: 19px;
  font-weight: 100;
}
.modal .news-modal #newsLatter-content .modal-body .required:after {
  color: #f62947;
  content: "*";
  font-size: inherit;
  font-weight: 700;
  position: relative;
}
.modal .news-modal #newsLatter-content .modal-body .input-box {
  background-color: #f5f8fa;
  border: unset;
  color: #5e6278;
  transition: all 0.2s ease;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.75rem 1rem;
  border-radius: 0.475rem;
}
.modal .news-modal #newsLatter-content .modal-body .input-box:focus {
  box-shadow: unset;
  background-color: #eef3f7;
}
.modal .news-modal #newsLatter-content .modal-body .input-group {
  background: black;
  border: none;
}
.modal .news-modal #newsLatter-content .modal-footer {
  padding: 1.875rem;
  border-top: none !important;
}
.modal .news-modal #newsLatter-content .modal-footer .btn {
  padding: 10px 20px !important;
  border-radius: 0.475rem !important;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn {
  background-color: #d94b2b !important;
  border: unset;
  outline: unset;
  color: #ffffff;
  padding: 10px 20px !important;
  margin-top: 26px;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn:hover {
  background-color: #d94b2b !important;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn:focus {
  box-shadow: unset;
}

#email-send {
  background-color: #d94b2b;
  color: white !important;
  font-size: 25px;
  border: none;
  border-radius: 0px 3px 5px 2px;
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
.support-banner {
  width: 100%;
  max-width: 520px;
  height: auto !important;
  position: fixed;
  bottom: 20px;
  z-index: 99999 !important;
  background: #f6f6f6;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 7px 8px 0 #848181, 0 0px 11px 0 #000000;
  margin-left: 32px;
  margin-right: 32px;
}
@media (max-width: 575px) {
  .support-banner {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.support-banner .support_heading {
  font-size: 32px;
  margin-top: 33px;
}
.support-banner .support_text {
  margin-bottom: 33px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 25px;
}
.support-banner .support_text::-webkit-scrollbar {
  width: 4px;
}
.support-banner .support_text::-webkit-scrollbar-track {
  background: transparent;
}
.support-banner .support_text::-webkit-scrollbar-thumb {
  background: #888;
}

@media (max-width: 767px) {
  .support-banner {
    max-width: 476px !important;
  }
}
@media (max-width: 575px) {
  .support-banner {
    max-width: 100% !important;
  }
}
.act-now {
  padding: 15px 20px;
  background: #d94b2b;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  transform: translateY(0);
  text-decoration: none;
  color: white !important;
  position: relative;
  bottom: 10px;
  display: inline-block !important;
  border-radius: 15px !important;
}

.banner-close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 20px !important;
  background: none;
  border: none;
}

.vcard-thirtyone.main-content {
  max-width: 576px;
  text-align: center !important;
  background-color: #d94b2b;
  color: #211c29;
}
.vcard-thirtyone .vcard-thirtyone-heading {
  font-weight: 500;
  font-size: 28px;
  color: #ffffff !important;
}

.vcard-thirtyone-btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #ffffff !important;
  color: #d94b2b !important;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}

.vcard-one__product .product-card {
  margin: 10px auto !important;
  width: 75% !important;
}
@media (max-width: 575px) {
  .vcard-one__product .product-card {
    width: 99% !important;
  }
}
.vcard-one__product .product-card .product-img {
  height: 200px !important;
}

.product-heading {
  font-size: 28px !important;
  color: #d94b2b !important;
}

.buy-product {
  padding: 10px 20px;
  background: #d94b2b;
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.buy-product:hover {
  background-color: rgba(217, 75, 43, 0.9);
}

.back-btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #d94b2b;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}

.share-modal-close-btn {
  padding-left: 10px !important;
}

.appointmentAdd {
  margin-bottom: 55px;
}

.main-content.rtl .ms-3 {
  margin-right: 1rem !important;
}
.main-content.rtl .me-2 {
  margin-left: 0.5rem !important;
}
.main-content.rtl .me-3 {
  margin-left: 1rem !important;
}
.main-content.rtl .calendar-icon {
  left: 18px;
  right: auto;
}
.main-content.rtl .text-start {
  text-align: right !important;
}
@media (min-width: 576px) {
  .main-content.rtl .text-sm-start {
    text-align: right !important;
  }
}
.main-content.rtl .profile-section .card .card-img {
  left: 0;
  right: auto;
}

.profile-section .card[dir=rtl] .card-img {
  margin-right: 0;
  margin-left: 40px;
}

.btn-section.rtl {
  right: auto !important;
  left: 15px !important;
}

.btn-section.rtl {
  right: auto !important;
  left: 15px !important;
}

.modal-content[dir=rtl] .pl-50 {
  padding-right: 50px;
}
.modal-content[dir=rtl] .text-center {
  text-align: start !important;
}
.modal-content[dir=rtl] .arrow {
  transform: rotate(180deg) !important;
}
.modal-content[dir=rtl] .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0.313rem !important;
  border-bottom-right-radius: 0.313rem !important;
}
.modal-content[dir=rtl] .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0.313rem !important;
  border-bottom-left-radius: 0.313rem !important;
}

.slick-prev:before {
  color: black !important;
}

.slick-next:before {
  color: black !important;
}
