:root {
    --black: #000000;
    --white: #ffffff;
    --sky-blue: #00BBFF;
    --navy-blue: #1D2051;
    --color-2: #BBB3B3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #e5e5e5 !important;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}

.z-2 {
    z-index: 2;
}

.vcard-one.main-content {
    background-color: var(--white);
    max-width: 576px;
    min-height: 100vh
}

.vcard-one .vcard-one-heading {
    color: #313bac;
    font-size: 28px;
    font-weight: 600
}

.vcard-one__banner {
    min-height: 350px
}

.vcard-one__banner img {
    /* height: 350px; */
    -o-object-fit: cover;
    object-fit: cover;
    /* width: 100%; */
    position: relative;
}

.vcard-one__banner::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #17232E;
    opacity: 0.9;
}

.vcard-one__banner .image-icon img {
    height: 20px;
    width: 25px
}

.vcard-one .activeSlot {
    background-color: #313bac !important;
    color: #fff !important
}

/* .vcard-one__profile {
    margin-top: -50px;
} */

.vcard-one__profile .avatar {
    /* top: -50px; */
}

.vcard-one__profile .avatar img {
    width: 167px;
    height: 276px;
    border-radius: 96.5px;
    -o-object-fit: cover;
    object-fit: cover;
    border-left: 5px solid var(--sky-blue);
}

.vcard-one__profile-details {
    padding-top: 60px
}

.profile-name {
    font-family: 'Alegreya', serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 38px;
}

.profile-desc {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
}

.text-skyblue {
    color: var(--sky-blue);
}

.bg-skyblue {
    background-color: var(--sky-blue);
}

.bg-navy-blue {
    background-color: var(--navy-blue);
}

.bg-navy-blue-2 {
    background-color: #00142C !important;
}

.divider {
    border-top: 2px solid;
}

.divider-verical {
    height: 60px;
    width: 2px;
    background-color: #000000;
}

.profile-designation {
    color: var(--white);
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
}

.profile-company {
    font-size: 16px;
    padding-top: 5px
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px;
    text-decoration: none;
    width: 21px;
    height: 21px;
    background-color: var(--sky-blue);
    font-size: 14px;
    border-radius: 5px;
}
.social-icons a svg
{
    font-size: 1rem !important;
}
.social-icons .icon {
    color: var(--white);
    cursor: pointer;
    transition: all .3s ease
}

/* .contact-box, */

.contact-name {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
}

.contact-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.main-heading {
    font-family: 'Alegreya', serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);
}

/* about */

#about {
    background: #F9F9F9;
}

.about-desc {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #A6A6A6;
}

/* services */

.services .container,
.blog .container {
    max-width: 540px;
}


.blog-card {
    box-shadow: 0px 4px 4px 0px #8F8F8F40;
    background: #F9F9F9;
    max-width: 250px;
    margin: 0 auto;
    border-radius: 10px;
}

.blog-card .blog-img img {
    width: 23px;
    height: 23px;
    object-fit: cover;
    -o-object-fit: cover;
    border-radius: 50%;
}

.service-card .service-img img {
    width: 100%;
    min-width: 241px;
    min-height: 163px;
    object-fit: cover;
    -o-object-fit: cover;
}

.services-cards .row:nth-child(even) .service-img::before {
    content: '';
    position: absolute;
    height: 95%;
    width: 90%;
    background-color: var(--sky-blue);
    bottom: -7px;
    right: -7px;
}

.services-cards .row:nth-child(odd) .service-img::before {
    content: '';
    position: absolute;
    height: 95%;
    width: 90%;
    background-color: var(--sky-blue);
}

@media screen and (min-width:575px) {
    .services-cards .row:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .services-cards .row:nth-child(even) .service-img::before {
        bottom: -7px;
        right: -7px;
    }

    .services-cards .row:nth-child(odd) .service-img::before {
        top: -7px;
        left: -7px;
    }
}

@media screen and (max-width:575px) {

    .vcard-one__profile .avatar img{
        height: 140px;
        width: 140px;
        border-radius: 50%;
        margin-top: 80px;
    }
    .services-cards .row {
        flex-direction: column-reverse;
    }

    .services-cards .row:nth-child(even) .service-img::before {
        top: -7px;
        left: -7px;
    }

    .services-cards .row:nth-child(odd) .service-img::before {
        top: -7px;
        right: -7px;
    }
}

.service-card .card-title {
    font-family: 'Alegreya', serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--navy-blue);
}

.service-card .card-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #A6A6A6;
}

.blog-card .card-title {
    font-family: 'Alegreya', serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: var(--navy-blue);
}


.blog-card .card-text {
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
    color: #999999;
}


/* testimonial */

.testimonial {
    background-color: #F6FDFF;
}

.testimonial .left {
    border-bottom-right-radius: 45px;
}

.testimonial-slider {
    max-width: 450px;
}


.testimonial .qoute {
    height: 45px;
    width: 45px;
}

.testimonial .testimonial-heading {
    font-family: 'Alegreya', serif;
    font-size: 31px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;

}

.testimonial-card .testimonial-profile {
    display: inline-block;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    object-fit: cover;
    -o-object-fit: cover;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.slick-dotted.slick-slider {
    margin-bottom: 10px !important;
}


.testimonial-card .testimonial-desc {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #A6A6A6;
}

.testimonial-card .card-title {
    font-family: 'Alegreya', serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: var(--navy-blue);
}

.testimonial-card .card-text {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: #A6A6A6;
}

/* appointment */
 
.appointment {
    padding: 0 20px;
}

.appointment label {
    font-family: 'Alegreya', serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}

.appointment .appoint-date,.appointment .time-slot {
    border: 1px solid var(--white);
    padding: 14px 10px;
    background-color: var(--navy-blue);
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    min-width: 160px;
}
.vcard-one .activeSlot {
    background-color: #ffffff !important;
    color: #1d2051 !important;
}
.form-control {
    border: 1px solid var(--white);
    background-color: var(--navy-blue) !important;
    color: var(--white);
    text-align: center;
}

.btn-appointment {
    font-family: 'Alegreya', serif;
    border: 1px solid var(--white);
    background-color: var(--navy-blue);
    color: var(--white) !important;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.btn-appointment:hover {
    transform: translateY(-3px);
}

.vcard-one .language ul {
    list-style: none
}

.vcard-one .language ul .lang-list {
    background: var(--sky-blue);
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px 20px;
    transition: all .3s ease;
    width: -moz-fit-content;
    width: fit-content
}

.vcard-one .language ul .lang-list .lang-head,
.vcard-one .language ul .lang-list .lang-head i {
    color: #fff
}

.vcard-one .language ul .lang-list .lang-hover-list {
    font-size: 15px;
    left: unset !important;
    margin: 15px 0 0;
    min-width: 150px;
    right: 0;
    width: 115%
}

.vcard-one .language ul .lang-list .lang-hover-list li {
    padding: 5px 15px
}

.vcard-one .language ul .lang-list .lang-hover-list li:hover {
    background-color: #f1faff !important
}

.vcard-one .language ul .lang-list .lang-hover-list li:hover a {
    color: #009ef7 !important
}

.vcard-one .language ul .lang-list .lang-hover-list li.active {
    background-color: #f1faff !important
}

.vcard-one .language ul .lang-list .lang-hover-list li.active a {
    color: #009ef7 !important
}

.vcard-one .language ul .lang-list .lang-hover-list li a {
    color: #5e6278 !important;
    text-decoration: none
}

.vcard-one .language ul .lang-list .lang-hover-list li img {
    height: 20px !important;
    width: 25px !important
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: unset !important;
    outline: unset !important
}



.vcard-one .language ul .lang-list .lang-hover-list {
    margin: 0
}

.vcard-one .language ul .lang-list .lang-hover-list.top-dropdown {
    margin: -80px 0 0
}
.blog-card {
    min-height: 150px;
}
.blog-img {
    border-radius: 50%;
    background: #d9d9d9;
    width: 30px;
    height: 30px;
    margin: 25px auto 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-title
{
    color: #000;
}
#AppointmentModal .modal-dialog .modal-content .modal-body .form-control {
    text-align: left;
    background: transparent !important;
}
.btn-section .fixed-btn-section .bars-btn {
    background: #00bbff !important;
    box-shadow: 0 0 4px #fff;
}
.stickyIcon button, .stickyIcon a {
    background: #fff;
    box-shadow: 0 0 4px #000;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: unset;
}
.profile-position {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 24px;
}
.top-position-profile {
    font-family: syne;
    font-size: 12px;
    margin-bottom: -10px;
}



.blog-title{
    font-family: 'Alegreya', serif;
    font-weight: 600;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    display: none;
}   

.blog-title-btm{
    font-family: 'Alegreya', serif;
    font-weight: 600;
    position: absolute;
    z-index: 1;
    bottom:10;
    display: none;
}

.blog-img-1 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.blog-img2 img{
    width: 100%;
    height: 93.5px;
    object-fit: cover;
}

.blog-img2 {
    margin-bottom: 10px;
}

.overlay-black
{
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 1;
  color: white;
  font-size: 20px;
  padding: 15px;
  height: 100%;
}


.overlay-black{
    background: rgba(0, 187, 255,0.2);
    cursor: pointer;
}
.overlay-black:hover .blog-title , .overlay-black:hover .blog-title-btm
{
    display: block;
}
.blog-desc{
    position: absolute;
    z-index: 1;
    bottom: 10;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}




@media screen and (max-width:575px) {

    .space-top{
        padding-top: 20px;
    }
}