:root {
    --pink: #FF8888;
    --black: #000000;
    --white: #ffffff;
    --sky-blue: #2FF5F8;
    --navy-blue: #051C37;
    --color-2: #BBB3B3;
    --grey: #8E8E8E;
    --haiti: #27242D;
    --sand: #F3B174;
}   

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}
    

    @font-face {
    font-family: 'Arima Madurai';
    font-style: normal;
    font-weight: 400;
    src: local('Arima Madurai Medium'), url('../../assets/img/vcard26/ArimaMadurai-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Arima Madurai';
    font-style: normal;
    font-weight: 700;
    src: local('Arima Madurai Bold'), url('../../assets/img/vcard26/ArimaMadurai-Medium.woff') format('woff');
    }



body {
    background-color: #e5e5e5!important;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}

.bg-white{
    background-color: var(--white);
}

.bg-sand{
    background-color: var(--sand);
}
.text-sand{
    color: var(--sand);
}

.z-2 {
    z-index: 2;
}

.vcard-one.main-content {
    background-color: var(--haiti);
    max-width: 576px;
    min-height: 100vh
}

.vcard-one .vcard-one-heading {
    color: #313bac;
    font-size: 28px;
    font-weight: 600
}

.vcard-one__banner {
    height: 350px
}

.vcard-one__banner img {
    height: 350px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    position: relative;
}

.vcard-one__banner::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(0.14deg, var(--haiti) 0.13%, rgba(0, 20, 44, 0) 43.04%);
}

.vcard-one__banner .image-icon img {
    height: 20px;
    width: 25px
}

.vcard-one .activeSlot {
    background-color: #313bac !important;
    color: #fff !important
}

.vcard-one__profile {
    margin-top: -50px;
}

.vcard-one__profile .avatar {
    top: -50px;
}

.vcard-one__profile .avatar img {
    height: 110px;
    max-width: 110px;
    min-width: 110px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 110px;
}

.vcard-one__profile-details {
    padding-top: 60px
}

.profile-name {
    font-family: 'Arima Madurai', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
}

.profile-designation {
    color: var(--white);
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
}

.profile-desc{
    font-size: 12;
    margin-top: 20px;
}

.text-skyblue {
    color: var(--sky-blue);
}

.text-white {
    color: var(--white);
}

.bg-navy-blue {
    background-color: var(--navy-blue);
}

.bg-navy-blue-2 {
    background-color: #00142C !important;
}

.divider {
    border-top: 2px solid;
}

.divider-verical {
    height: 60px;
    width: 2px;
    background-color: #000000;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px;
    text-decoration: none;
    width: 20px;
    height: 21px;
    background-color: var(--white);
    font-size: 14px;
    border-radius: 5px;
}
.social-icons a svg
{
    font-size: 1rem !important;
}
.social-icons .icon {
    color: var(--black);
    cursor: pointer;
    transition: all .3s ease
}

.contact-box {
    padding: 10px 0px 10px 40px;
}

.contact-name {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
}

.contact-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.main-heading {
    font-family: 'Arima Madurai', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    color: var(--white);
}


/* menu */

.menu {
    position: relative;
}


.menu .container {
    max-width: 540px;
}

.menu .card {
    border: 0;
    box-shadow: none;
    background-color: transparent ;
}

.menu .card .card-body{
    padding: 15px 10px;
    background-color: var(--sand);
    margin: 6px 0 20px -24px;
}
.menu .card .card-body .card-title
{
    margin-bottom: 0;
}


.menu .card img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    -o-object-fit: cover;
}


.menu .card-title {
    font-family: 'Arima Madurai', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: var(--black);
}

.menu .card-text {
    font-size: 9px;
    font-weight: 400;
    line-height: 15px;
    color: var(--black);
}


/* gllery */

#gallery img {
    height: 136px;
    width: 171px;
    object-fit: cover;
}

/* about */

.about-desc {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: var(--grey);
}

/* blog */

.container,
.container,
.blog .container {
    max-width: 540px;
}

.blog-card {
    background-color: transparent;
    max-width: 250px;
    margin: 0 auto;
    min-height: 195px;
    border:none;
}

.blog-card .blog-img img {
    width: 160px;
    height: 95px;
    object-fit: cover;
    -o-object-fit: cover; 
} 

.card-title,
.blog-card .card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: var(--sand);
}

.card-text,
.blog-card .card-text {
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
}


/* testimonials */
.testimonials {
    background-color: var(--color-4);
}
.testimonials-box .circle img {
    border-radius: 50%;
}

.testimonials-section {
    text-align: center;
    padding: 50px 0;
    padding: 10px 25px;
}
.circle img {
    width: 38px;
    height: 38px;
    object-fit: cover;
}

.circle {
    width: 38px;
    height: 38px;
    display: flex;
    margin: auto;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.testimonials-box {
    background-color: var(--sand);
    padding: 20px;
    margin-bottom: 20px;
}

/* .testimonials-box a{
    position: fixed;
} */

.testimonials-box i {
    margin-left: 12px;
    font-size: 24px;
    display: block;
    margin-bottom: 12px;
    color: var(--white);

}

.testimonials-box-text {
    color: var(--black);
    font-family: 'Arima Madurai', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
}

.testimonials-box-heading {
    margin-top: 8px;
    margin-bottom: 2px;
    color: var(--black);
    font-family: 'Arima Madurai', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
}


/* appointment */

.ps-30 {
    padding-left: 30px;
}

.appointment {
    padding: 0 20px;
}
.appointment-headin
{
    font-family: 'Arima Madurai', sans-serif;
}
.appointment label {
    font-family: 'Arima Madurai', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
}

.appointment .appoint-date,.appointment .time-slot {
    padding: 14px 4px;
    background-color: transparent;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    border: 1px solid var(--white);
    min-width: 140px;
}
.vcard-one .activeSlot {
    background-color: #f3b174 !important;
    color: #fff !important;
    border-color: #f3b174;
}
.form-control {
    background-color: transparent !important;
    color: var(--white);
    text-align: center;
}

.appoint-input::placeholder{
    color: var(--white);
}

.btn-appointment{
    font-family: syne;
    background-color: transparent;
    color: var(--white) !important;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.3s ease;
    border: 1px solid var(--white);

}

.btn-appointment:hover{
    transform: translateY(-3px);    
}

.vcard-one .language ul {
    list-style: none
}

.vcard-one .language ul .lang-list {
    background: #f3b174;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px 20px;
    transition: all .3s ease;
    width: -moz-fit-content;
    width: fit-content
}

.vcard-one .language ul .lang-list .lang-head,
.vcard-one .language ul .lang-list .lang-head i {
    color: #fff
}

.vcard-one .language ul .lang-list .lang-hover-list {
    font-size: 15px;
    left: unset !important;
    margin: 15px 0 0;
    min-width: 150px;
    right: 0;
    width: 115%
}

.vcard-one .language ul .lang-list .lang-hover-list li {
    padding: 5px 15px
}

.vcard-one .language ul .lang-list .lang-hover-list li:hover {
    background-color: #f1faff !important
}

.vcard-one .language ul .lang-list .lang-hover-list li:hover a {
    color: #009ef7 !important
}

.vcard-one .language ul .lang-list .lang-hover-list li.active {
    background-color: #f1faff !important
}

.vcard-one .language ul .lang-list .lang-hover-list li.active a {
    color: #009ef7 !important
}

.vcard-one .language ul .lang-list .lang-hover-list li a {
    color: #5e6278 !important;
    text-decoration: none
}

.vcard-one .language ul .lang-list .lang-hover-list li img {
    height: 20px !important;
    width: 25px !important
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: unset !important;
    outline: unset !important
}



.vcard-one .language ul .lang-list .lang-hover-list {
    margin: 0
}

.vcard-one .language ul .lang-list .lang-hover-list.top-dropdown {
    margin: -80px 0 0
}

.testimonial-slider .slick-dots li
{ 
    width: 7px !important;
    height: 7px !important;
}

.testimonial-slider .slick-dots li button
{
    background-color: var(--sand) !important;
    width: 7px !important;
    height: 7px !important;
    border-radius: 50% !important;

}

.slick-slide {
    height: auto !important;
}
.modal-title
{
    color: #000;
}
#AppointmentModal .modal-dialog .modal-content .modal-body .form-control {
    text-align: left;
    background: transparent !important;
}
.btn-section .fixed-btn-section .bars-btn {
    background: #27242d;
    box-shadow: 0 0 4px;
}
.stickyIcon button, .stickyIcon a {
    background: #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: unset;
}

@media screen and (max-width:575px) {

    .profile-desc{
        text-align: center;
        padding: 0;
    }

    .contact-box{
        padding: 5px;
    }

    .testimonials-box{
        padding: 7px;
    }

    .blog-card .blog-img img {
        width: 100%;
        height: 100%;
    }
}