.bg-primary {
  background-color: #6554ce !important;
}

.text-primary {
  color: #6554ce !important;
}

.text-gray-100 {
  color: #887e96 !important;
}

.btn {
  border-radius: 10px;
  font-weight: 700;
  padding: 10px 35px;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary {
  color: #ffffff;
  background-color: #6554ce;
  box-shadow: none;
  border: 1px solid #6554ce;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.active {
  color: #6554ce;
  background-color: #ffffff;
  border: 1px solid #6554ce;
}

.font-Saira {
  font-family: "Saira";
  font-weight: 600;
  letter-spacing: 0.6px;
}

body {
  font-family: "Poppins";
  font-weight: 400;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 575px) {
  .px-40 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main-content {
  position: relative;
  background-size: cover;
}

.banner-section {
  position: relative;
  padding: 20px;
}
@media (max-width: 575px) {
  .banner-section {
    padding: 6px;
  }
}
.banner-section .heart-img {
  position: absolute;
  right: 20px;
  top: 100px !important;
  text-align: right;
}
@media (max-width: 767px) {
  .banner-section .heart-img {
    right: 30px;
  }
}
@media (max-width: 515px) {
  .banner-section .heart-img {
    left: 15px;
    right: auto;
    top: 290px;
    text-align: left;
  }
}
@media (max-width: 424px) {
  .banner-section .heart-img {
    top: 240px;
  }
}
@media (max-width: 575px) {
  .banner-section .heart-img img {
    width: 75%;
  }
}
.banner-section .cherry-blossom-img {
  position: absolute;
  right: 50px;
  top: 200px;
  text-align: right;
}
@media (max-width: 767px) {
  .banner-section .cherry-blossom-img {
    right: 30px;
  }
}
@media (max-width: 515px) {
  .banner-section .cherry-blossom-img {
    left: 15px;
    right: auto;
    top: 290px;
    text-align: left;
  }
}
@media (max-width: 424px) {
  .banner-section .cherry-blossom-img {
    top: 240px;
  }
}
@media (max-width: 575px) {
  .banner-section .cherry-blossom-img img {
    width: 75%;
  }
}
.banner-section .banner-img {
  position: relative;
  max-width: 438px;
  height: 330px;
  width: 100%;
  overflow: hidden;
  border-radius: 0 175px 0 175px;
  border: 5px solid #ffffff;
}
@media (max-width: 424px) {
  .banner-section .banner-img {
    height: 270px;
    border-radius: 0 140px 0 140px;
  }
}

.profile-section {
  position: relative;
}
.profile-section .card {
  position: relative;
  background-color: transparent !important;
  border: none;
}
.profile-section .card .card-img {
  position: absolute;
  right: 0;
  top: -120px;
  border-radius: 50%;
  min-width: 200px;
  width: 200px;
  height: 200px;
  border: 5px solid #ffffff;
  overflow: hidden;
}
@media (max-width: 575px) {
  .profile-section .card .card-img {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -80px;
    min-width: 175px;
    width: 175px;
    height: 175px;
  }
}
.profile-section .card .card-body {
  padding-bottom: 0;
  max-width: calc(100% - 200px);
}
@media (max-width: 575px) {
  .profile-section .card .card-body {
    max-width: 100%;
    padding-top: 110px;
  }
}
.profile-section .social-media .social-icon,
.profile-section .social-media .social-back {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  margin: 0 7px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(136, 126, 150, 0.1);
}
@media (max-width: 575px) {
  .profile-section .social-media .social-icon,
  .profile-section .social-media .social-back {
    margin: 0 5px;
  }
}
.profile-section .social-media .social-icon svg,
.profile-section .social-media .social-icon img,
.profile-section .social-media .social-back svg,
.profile-section .social-media .social-back img {
  width: 30px;
  height: 30px !important;
  border-radius: 50% !important;
  color: #6554ce !important;
  fill: #6554ce !important;
}
.profile-section .social-media .social-icon:first-child,
.profile-section .social-media .social-back:first-child {
  margin-left: 0;
}
.profile-section .social-media .social-icon:last-child,
.profile-section .social-media .social-back:last-child {
  margin-right: 0;
}

.section-heading h2 {
  font-size: 26px;
  font-weight: 700;
}

.contact-section .contact-box {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(136, 126, 150, 0.1);
}
@media (max-width: 575px) {
  .contact-section .contact-box {
    display: flex;
    align-items: center;
  }
}
.contact-section .contact-box .contact-icon {
  width: 25px;
  min-width: 25px;
  height: 25px;
  border-radius: 10px;
  margin-right: 15px;
}
@media (max-width: 575px) {
  .contact-section .contact-box .contact-icon {
    margin-bottom: 0;
    margin-right: 20px;
  }
}
.contact-section .contact-box .contact-icon svg,
.contact-section .contact-box .contact-icon img {
  width: 100%;
  max-height: 25px;
}
.contact-section .contact-box .contact-desc a {
  word-break: break-all;
  font-size: 14px !important;
}
.contact-section .contact-box .contact-desc p {
  font-size: 14px !important;
}

.our-services-section {
  position: relative;
}
.our-services-section .blossom-img {
  position: absolute;
  top: 30px;
  left: 20px;
}
@media (max-width: 575px) {
  .our-services-section .blossom-img img {
    width: 75%;
  }
}
.our-services-section .services .service-card {
  padding: 58px 20px 20px 20px;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 10px rgba(136, 126, 150, 0.1);
  position: relative;
}
.our-services-section .services .service-card .card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  min-width: 80px;
  border-radius: 50%;
  background-color: #6554ce;
  border: 7px solid #f5f2fb;
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.our-services-section .services .service-card .card-img img {
  width: 45px !important;
  height: 45px !important;
  max-height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50% !important;
}
.our-services-section .services .service-card .card-body .card-desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.our-services-section .services .services-slider-view .slick-list {
  height: 180px !important;
  padding-top: 5px !important;
}
@media (max-width: 500px) {
  .our-services-section .services .services-slider-view .slick-list {
    height: 250px !important;
  }
}
.our-services-section .services .services-slider-view .service-card {
  border-radius: 10px;
  min-height: 160px;
  max-height: 180px;
  overflow-y: auto;
  background-color: transparent;
  border: 2px solid #6554ce;
  color: #ffffff;
  padding: 20px;
}
.our-services-section .services .services-slider-view .service-card .card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 6px;
  color: #6554ce;
}
.our-services-section .services .services-slider-view .service-card .description-text {
  color: #211c29;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 500px) {
  .our-services-section .services .services-slider-view .service-card .description-text {
    -webkit-line-clamp: 3;
  }
}
.our-services-section .services .services-slider-view .service-card .img {
  width: -moz-fit-content;
  width: fit-content;
  display: inline;
  float: left;
}
.our-services-section .services .services-slider-view .service-card .img img {
  border-radius: 20px !important;
  width: 120px;
  height: 120px;
  margin-right: 10px;
}
@media (max-width: 500px) {
  .our-services-section .services .services-slider-view .service-card .img img {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 500px) {
  .our-services-section .services .services-slider-view .service-card {
    min-height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
.our-services-section .services .services-slider-view .slick-list .slick-slide {
  margin: 0 15px;
}
.our-services-section .services .services-slider-view .slick-dots {
  bottom: -20px !important;
}
.our-services-section .services .services-slider-view .slick-dots li {
  margin: 0 !important;
}
.our-services-section .services .services-slider-view .slick-dots button::before {
  font-size: 30px !important;
}

.appointment-section {
  position: relative;
}
.appointment-section .appointment-bg-img {
  position: absolute;
  text-align: end;
  bottom: -70px;
  right: 40px;
}
@media (max-width: 575px) {
  .appointment-section .appointment-bg-img {
    right: 20px;
  }
}
@media (max-width: 575px) {
  .appointment-section .appointment-bg-img img {
    width: 75%;
  }
}
.appointment-section .appointment .appointment-input {
  width: 100%;
  height: 50px;
  padding: 12px 25px;
  background-color: transparent;
  border: 1px solid #6554ce;
  border-radius: 10px;
  color: #887e96;
}
.appointment-section .appointment .appointment-input::-moz-placeholder {
  color: #887e96;
}
.appointment-section .appointment .appointment-input::placeholder {
  color: #887e96;
}
.appointment-section .appointment .appointment-input:focus {
  box-shadow: none;
  outline: none;
}
.appointment-section .appointment .calendar-icon {
  position: absolute;
  right: 18px;
  top: 11px;
}
.appointment-section .appointment .hour-input {
  height: 50px;
  font-size: 14px;
  padding: 13px 16px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(136, 126, 150, 0.1);
}

.gallery-section {
  position: relative;
}
.gallery-section .gallery-bg-img {
  position: absolute;
  top: 50px;
  left: 100px;
}
@media (max-width: 575px) {
  .gallery-section .gallery-bg-img {
    top: 25px;
    left: 50px;
  }
}
@media (max-width: 575px) {
  .gallery-section .gallery-bg-img img {
    width: 75%;
  }
}
.gallery-section .gallery-slider .gallery-img,
.gallery-section .gallery-slider .gallery-item {
  margin: 0 auto;
  max-width: 495px;
  width: 100%;
  max-height: 320px;
  height: 320px;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 575px) {
  .gallery-section .gallery-slider .gallery-img,
  .gallery-section .gallery-slider .gallery-item {
    max-height: 250px;
    height: 250px;
  }
}
.gallery-section .gallery-slider .gallery-img img,
.gallery-section .gallery-slider .gallery-img iframe,
.gallery-section .gallery-slider .gallery-item img,
.gallery-section .gallery-slider .gallery-item iframe {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.gallery-section .gallery-slider .gallery-img .audio-image,
.gallery-section .gallery-slider .gallery-item .audio-image {
  height: 265px !important;
}
@media (max-width: 575px) {
  .gallery-section .gallery-slider .gallery-img .audio-image,
  .gallery-section .gallery-slider .gallery-item .audio-image {
    height: 200px !important;
  }
}

.testimonial-section {
  position: relative;
}
.testimonial-section .testimonial-bg-img {
  position: absolute;
  top: 15px;
  left: 75px;
}
@media (max-width: 575px) {
  .testimonial-section .testimonial-bg-img {
    left: 35px;
  }
}
@media (max-width: 575px) {
  .testimonial-section .testimonial-bg-img img {
    width: 75%;
  }
}
.testimonial-section .testimonial-slider {
  position: relative;
}
.testimonial-section .testimonial-slider .testimonial-card {
  position: relative;
  border-radius: 20px;
}
.testimonial-section .testimonial-slider .testimonial-card .card-body .profile-img {
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
}
.testimonial-section .testimonial-slider .testimonial-card .card-body p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.testimonial-section .slick-arrow {
  position: absolute;
  z-index: 2;
  top: auto;
  bottom: 10px;
  opacity: 1 !important;
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #211c29;
  color: #ffffff;
  border: 1px solid #211c29;
}
.testimonial-section .next-arrow {
  right: 10px;
}
.testimonial-section .prev-arrow {
  right: 55px;
}

.product-section {
  position: relative;
}
.product-section .product-bg-img {
  position: absolute;
  text-align: end;
  top: 30px;
  right: 100px;
}
@media (max-width: 575px) {
  .product-section .product-bg-img {
    right: 40px;
  }
}
@media (max-width: 575px) {
  .product-section .product-bg-img img {
    width: 75%;
  }
}
.product-section .product-slider .product-card {
  position: relative;
  max-width: 233px;
  margin: 0 auto;
  height: 300px !important;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid #6554ce;
  box-shadow: 0 5px 10px rgba(136, 126, 150, 0.1);
}
.product-section .product-slider .product-card .card-img {
  width: 100%;
  height: 200px !important;
  overflow: hidden;
}
.product-section .product-slider .product-card .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-section .product-slider .product-card .card-body {
  padding: 10px;
}
.product-section .product-slider .product-card .card-body .product-desc h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-section .product-slider .product-card .card-body p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.vcard-one__product .product-card {
  margin: 10px auto !important;
  width: 75% !important;
}
@media (max-width: 575px) {
  .vcard-one__product .product-card {
    width: 99% !important;
  }
}
.vcard-one__product .product-card .product-img {
  height: 200px !important;
}

.blog-section {
  position: relative;
}
.blog-section .blog-bg-img {
  position: absolute;
  top: 2px;
  left: 50px;
}
@media (max-width: 575px) {
  .blog-section .blog-bg-img img {
    width: 75%;
  }
}
.blog-section .blog-slider .blog-card {
  position: relative;
  border: none;
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .blog-section .blog-slider .blog-card {
    max-width: 250px;
    margin: 0 auto;
  }
}
.blog-section .blog-slider .blog-card .card-img {
  width: 233px;
  min-width: 233px;
  height: 120px;
  border-radius: 15px;
  overflow: hidden;
}
@media (max-width: 575px) {
  .blog-section .blog-slider .blog-card .card-img {
    width: 100%;
    height: 150px;
  }
}
.blog-section .blog-slider .blog-card .card-body {
  max-height: 120px;
  min-height: 120px;
  overflow: hidden;
}
.blog-section .blog-slider .blog-card .card-body p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-section .blog-slider .blog-card .card-body .blog-head {
  line-height: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.business-hour-section {
  position: relative;
}
.business-hour-section .hour-bg-img {
  position: absolute;
  text-align: end;
  top: 25px;
  right: 40px;
}
@media (max-width: 575px) {
  .business-hour-section .hour-bg-img img {
    width: 75%;
  }
}
.business-hour-section .business-hour-card .business-hour {
  padding: 10px 5px;
  border: 1px solid #6554ce;
  border-radius: 10px;
  color: #211c29;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.business-hour-section .business-hour-card .business-hour span {
  font-size: 13px;
}
@media (max-width: 575px) {
  .business-hour-section .business-hour-card .business-hour span {
    font-size: 14px;
  }
}

.qr-code-section {
  position: relative;
}
.qr-code-section .qr-bg-img {
  position: absolute;
  top: 25px;
  left: 40px;
}
@media (max-width: 575px) {
  .qr-code-section .qr-bg-img img {
    width: 75%;
  }
}
.qr-code-section .qr-code {
  gap: 50px;
}
@media (max-width: 575px) {
  .qr-code-section .qr-code {
    gap: 30px;
  }
}
.qr-code-section .qr-code .qr-profile-img {
  width: 150px;
  height: 150px;
  min-width: 150px;
  border-radius: 50%;
  margin-top: 11px !important;
  box-shadow: 0 5px 10px rgba(136, 126, 150, 0.1);
}
.qr-code-section .qr-code .qr-code-img {
  width: 115px;
  height: 115px;
  min-width: 115px;
  box-shadow: 0 5px 10px rgba(136, 126, 150, 0.1);
}

.contact-us-section {
  position: relative;
}
.contact-us-section .contact-us-bg-img {
  position: absolute;
  text-align: end;
  right: 55px;
}
@media (max-width: 575px) {
  .contact-us-section .contact-us-bg-img {
    right: 30px;
  }
}
@media (max-width: 575px) {
  .contact-us-section .contact-us-bg-img img {
    width: 75%;
  }
}
.contact-us-section .contact-form form .form-control {
  background-color: transparent;
  padding: 13px 20px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #887e96;
  color: #887e96;
}
.contact-us-section .contact-form form .form-control::-moz-placeholder {
  color: #887e96;
}
.contact-us-section .contact-form form .form-control::placeholder {
  color: #887e96;
}
.contact-us-section .contact-form form .form-control:focus {
  box-shadow: none;
  outline: none;
}

.create-vcard-section {
  position: relative;
}
.create-vcard-section .create-vcard-bg-img {
  position: absolute;
  top: -11px;
  left: 30px;
}
@media (max-width: 575px) {
  .create-vcard-section .create-vcard-bg-img img {
    width: 75%;
  }
}
.create-vcard-section .vcard-link-card {
  background-color: transparent;
  border: 1px solid #6554ce;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.create-vcard-section .vcard-link-card .link-text {
  font-size: 18px;
  word-break: break-all;
}
@media (max-width: 575px) {
  .create-vcard-section .vcard-link-card .link-text {
    font-size: 16px;
  }
}

.add-to-contact-section {
  position: fixed;
  width: 100%;
  bottom: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.btn-section .fixed-btn-section .social-media-bars-btn {
  background-color: #6554ce;
}
.btn-section .fixed-btn-section .sub-btn .social-media-sub-btn {
  background-color: #ffffff;
  border: 1px solid #6554ce;
}
.btn-section .fixed-btn-section .sub-btn .social-media-sub-btn i {
  color: #6554ce;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 575px) {
  .px-30 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}
@media (max-width: 575px) {
  .fs-18 {
    font-size: 16px;
  }
}

.fs-20 {
  font-size: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-40 {
  margin-top: 40px;
}
@media (max-width: 575px) {
  .mt-40 {
    margin-top: 30px;
  }
}

.mb-40 {
  margin-bottom: 40px;
}
@media (max-width: 575px) {
  .mb-40 {
    margin-bottom: 30px;
  }
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}
@media (max-width: 575px) {
  .mx-30 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pb-50 {
  padding-bottom: 50px;
}
@media (max-width: 575px) {
  .pb-50 {
    padding-bottom: 40px;
  }
}

.pt-40 {
  padding-top: 40px;
}
@media (max-width: 575px) {
  .pt-40 {
    padding-top: 25px;
  }
}

.pb-40 {
  padding-bottom: 40px;
}
@media (max-width: 575px) {
  .pb-40 {
    padding-bottom: 25px;
  }
}

.pt-60 {
  padding-top: 60px;
}
@media (max-width: 575px) {
  .pt-60 {
    padding-top: 40px;
  }
}

.pb-60 {
  padding-bottom: 60px;
}
@media (max-width: 575px) {
  .pb-60 {
    padding-bottom: 40px;
  }
}

.pt-30 {
  padding-top: 30px;
}
@media (max-width: 575px) {
  .pt-30 {
    padding-top: 20px;
  }
}

.pb-30 {
  padding-bottom: 30px;
}
@media (max-width: 575px) {
  .pb-30 {
    padding-bottom: 20px;
  }
}

.pt-50 {
  padding-top: 50px;
}
@media (max-width: 575px) {
  .pt-50 {
    padding-top: 40px;
  }
}

.pt-80 {
  padding-top: 80px;
}
@media (max-width: 575px) {
  .pt-80 {
    padding-top: 40px;
  }
}

.pb-80 {
  padding-bottom: 80px;
}
@media (max-width: 575px) {
  .pb-80 {
    padding-bottom: 40px;
  }
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fs-12 {
  font-size: 12px;
}

.fs-36 {
  font-size: 36px;
}
@media (max-width: 575px) {
  .fs-36 {
    font-size: 30px;
  }
}

.fs-30 {
  font-size: 30px;
}
@media (max-width: 575px) {
  .fs-30 {
    font-size: 28px;
  }
}

.fs-28 {
  font-size: 28px;
}
@media (max-width: 575px) {
  .fs-28 {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
}

.main-content {
  max-width: 576px;
  min-height: 100vh;
}

.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.flex-1 {
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-section {
  position: absolute;
  top: 50%;
  right: 80px;
  z-index: 9;
}
.btn-section .fixed-btn-section {
  position: fixed;
  top: 50%;
  display: flex;
  align-items: center;
}
.btn-section .fixed-btn-section .bars-btn {
  width: 65px;
  height: 65px;
  min-width: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-section .fixed-btn-section .sub-btn {
  position: absolute;
  right: 75px;
  display: none;
}
.btn-section .fixed-btn-section .sub-btn .social-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-section .fixed-btn-section .sub-btn .social-btn i {
  font-size: 24px;
}

.language ul {
  list-style: none;
}
.language ul .lang-list {
  padding: 10px 20px;
  background: #6554ce;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}
.language ul .lang-list .lang-head {
  color: #ffffff;
}
.language ul .lang-list .lang-head i {
  color: #ffffff;
}
.language ul .lang-list .lang-hover-list {
  margin: 15px 0 0;
  font-size: 15px;
  width: 115%;
  left: unset !important;
  right: 0;
  min-width: 150px;
}
.language ul .lang-list .lang-hover-list li {
  padding: 5px 15px;
}
.language ul .lang-list .lang-hover-list li:hover {
  background-color: #f1faff !important;
}
.language ul .lang-list .lang-hover-list li:hover a {
  color: #009ef7 !important;
}
.language ul .lang-list .lang-hover-list li.active {
  background-color: #f1faff !important;
}
.language ul .lang-list .lang-hover-list li.active a {
  color: #009ef7 !important;
}
.language ul .lang-list .lang-hover-list li a {
  color: #5e6278 !important;
  text-decoration: none;
  font-size: 14px !important;
}
.language ul .lang-list .lang-hover-list li img {
  height: 20px !important;
  width: 25px !important;
}

.add-contact-btn {
  width: 200px !important;
  width: 250px !important;
  height: 40px !important;
  margin: 0 auto;
  color: #ffffff;
  z-index: 9999;
  padding: 7px;
  margin-bottom: -35px !important;
}
.add-contact-btn i {
  font-size: 1rem;
}

.vcard21-sticky-btn {
  background: #6554ce;
  color: #6554ce;
  border: 1px solid #6554ce;
  border-radius: 5px;
  height: 40px;
}

.vcard21-btn-group {
  width: 50px;
  height: 50px;
  color: #6554ce;
  background-color: #ffffff;
  border-radius: 50px !important;
}

.modal-backdrop {
  background-color: transparent !important;
}

.activeSlot {
  background-color: #6554ce !important;
  color: #f5f2fb !important;
  cursor: pointer;
}

.time-slot {
  font-size: 15px;
  background-color: #f5f2fb !important;
  color: #211c29 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #6554ce;
}
.time-slot:hover, .time-slot.activeSlot {
  border: 1px solid white;
  background-color: #6554ce !important;
  color: white !important;
}

.vcard-twentyone.main-content {
  max-width: 576px;
  text-align: center !important;
  background-image: url("/assets/img/vcard21/bg-img.png") !important;
  color: #211c29;
}
.vcard-twentyone .vcard-twentyone-heading {
  font-weight: 500;
  font-size: 28px;
  color: #212529 !important;
}

.vcard-twentyone-btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #6554ce !important;
  color: white !important;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}

.slick-dotted.slick-slider {
  margin-bottom: 10px;
}

.slick-dots {
  position: relative;
  bottom: -15px;
}
.slick-dots li button:before {
  color: #887e96 !important;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #6554ce !important;
}

.create-vcard-bg-img {
  margin-top: -50px !important;
}

.send-btn {
  height: 40px;
  padding: 6px 30px;
  width: 250px !important;
}

.buy-product {
  padding: 10px 20px;
  background: #6554ce;
  border: none;
  outline: none;
  color: #f1faff;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.buy-product:hover {
  background-color: rgba(101, 84, 206, 0.9);
}

.product-heading {
  font-size: 28px !important;
}

.back-btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #6554ce;
  color: #f1faff;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}

.audio-control {
  margin-top: -20px !important;
}
@media (max-width: 580px) {
  .audio-control {
    margin-top: -20px !important;
  }
}

.modal-backdrop {
  background-color: transparent;
}

.modal {
  z-index: 99999 !important;
  background-color: rgba(0, 0, 0, 0.5019607843);
}
.modal .news-modal {
  margin-top: 250px !important;
}
.modal .news-modal #newsLatter-content {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0.475rem;
  outline: 0;
  background-color: #212020;
}
.modal .news-modal #newsLatter-content .newsmodal-header .btn-close {
  background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ADB5BD'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat;
  padding: 2rem !important;
}
.modal .news-modal #newsLatter-content .newsmodal-header .newsmodal-title {
  font-size: 50px;
  text-align: center !important;
  color: #6554ce;
}
.modal .news-modal #newsLatter-content .modal-body {
  padding: 1.75rem;
}
.modal .news-modal #newsLatter-content .modal-body .content {
  color: #6554ce;
  font-size: 28px;
}
.modal .news-modal #newsLatter-content .modal-body .modal-desc {
  color: silver;
  font-size: 19px;
  font-weight: 100;
}
.modal .news-modal #newsLatter-content .modal-body .required:after {
  color: #f62947;
  content: "*";
  font-size: inherit;
  font-weight: 700;
  position: relative;
}
.modal .news-modal #newsLatter-content .modal-body .input-box {
  background-color: #f5f8fa;
  border: unset;
  color: #5e6278;
  transition: all 0.2s ease;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.75rem 1rem;
  border-radius: 0.475rem;
}
.modal .news-modal #newsLatter-content .modal-body .input-box:focus {
  box-shadow: unset;
  background-color: #eef3f7;
}
.modal .news-modal #newsLatter-content .modal-body .input-group {
  background: black;
  border: none;
}
.modal .news-modal #newsLatter-content .modal-footer {
  padding: 1.875rem;
  border-top: none !important;
}
.modal .news-modal #newsLatter-content .modal-footer .btn {
  padding: 10px 20px !important;
  border-radius: 0.475rem !important;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn {
  background-color: #6571ff !important;
  border: unset;
  outline: unset;
  color: #ffffff;
  padding: 10px 20px !important;
  margin-top: 26px;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn:hover {
  background-color: #6571ff !important;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn:focus {
  box-shadow: unset;
}

#email-send {
  background-color: #6554ce;
  color: white !important;
  font-size: 25px;
  border: none;
  border-radius: 0px 3px 5px 2px;
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
.insta-feed {
  max-height: 1000px !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

.insta-feed::-webkit-scrollbar {
  width: 0px;
}

.insta-feed::-webkit-scrollbar-thumb {
  background-color: #f1faff !important;
}

.insta-feed::-webkit-scrollbar-track {
  background-color: #f1faff !important;
}

.insta-feed-iframe iframe {
  border-radius: 15px !important;
  border: none !important;
}

.instagram-btn {
  flex: 1;
  position: relative;
  background: transparent;
}
.instagram-btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 100%;
  background-color: #6554ce;
  transition: width 0.3s ease;
}
.instagram-btn.active::before {
  width: 80%;
}
.instagram-btn .svg-post-icon rect,
.instagram-btn .svg-post-icon line {
  stroke: #6554ce;
}
.instagram-btn.active .svg-post-icon rect, .instagram-btn.active .svg-post-icon line {
  fill: #6554ce;
  stroke: #f9f5f9;
}
.instagram-btn .svg-reels-icon .not-active-svg {
  display: block;
}
.instagram-btn .svg-reels-icon .active-svg {
  display: none;
}
.instagram-btn .svg-reels-icon path.not-active-svg,
.instagram-btn .svg-reels-icon rect {
  fill: #6554ce;
}
.instagram-btn .svg-reels-icon path {
  fill: #6554ce;
}
.instagram-btn.active .svg-reels-icon .not-active-svg, .instagram-btn.active .svg-reels-icon rect {
  display: none;
}
.instagram-btn.active .svg-reels-icon .active-svg {
  display: block;
}

.insta-toggle {
  border-radius: 35px !important;
  margin: 10px !important;
  padding: 5px !important;
  transition: all 0.3s ease !important;
}

#instafeed-container a img {
  width: 44%;
  height: 200px !important;
  margin: 11px;
  border-radius: 15px;
}

.instagram-media {
  min-width: 50% !important;
  max-width: 100% !important;
}

.support-banner {
  width: 100%;
  max-width: 520px;
  height: auto !important;
  position: fixed;
  bottom: 20px;
  z-index: 99999 !important;
  background: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 7px 8px 0 #848181, 0 0px 11px 0 #000000;
  margin-left: 32px;
  margin-right: 32px;
}
@media (max-width: 575px) {
  .support-banner {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.support-banner .support_heading {
  font-size: 32px;
  margin-top: 33px;
}
.support-banner .support_text {
  margin-bottom: 33px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 25px;
}
.support-banner .support_text::-webkit-scrollbar {
  width: 4px;
}
.support-banner .support_text::-webkit-scrollbar-track {
  background: transparent;
}
.support-banner .support_text::-webkit-scrollbar-thumb {
  background: #888;
}

@media (max-width: 767px) {
  .support-banner {
    max-width: 476px !important;
  }
}
@media (max-width: 575px) {
  .support-banner {
    max-width: 100% !important;
  }
}
.act-now {
  padding: 15px 20px;
  background: #6554ce;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  transform: translateY(0);
  text-decoration: none;
  color: white !important;
  position: relative;
  bottom: 10px;
  display: inline-block !important;
  border-radius: 15px;
}

.banner-close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 20px !important;
  background: none;
  border: none;
}

.iframe-slider .iframe-card {
  margin: 0 auto;
  width: 100%;
  height: 365px;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 575px) {
  .iframe-slider .iframe-card {
    max-height: 250px;
    height: 250px;
  }
}

.verification-icon {
  color: #6554ce;
}

.main-content.rtl .ms-3 {
  margin-right: 1rem !important;
  margin-left: 0 !important;
}
.main-content.rtl .calendar-icon {
  left: 18px;
  right: auto;
}
.main-content.rtl .text-start {
  text-align: right !important;
}
.main-content.rtl .ms-3 {
  margin-left: 1rem !important;
}
.main-content.rtl .contact-section .contact-box .contact-icon {
  margin-left: 15px;
  margin-right: 0;
}
@media (min-width: 576px) {
  .main-content.rtl .text-sm-start {
    text-align: right !important;
  }
  .main-content.rtl .justify-content-sm-start {
    justify-content: flex-end !important;
  }
}
.main-content.rtl .banner-section .banner-img {
  border-radius: 175px 0 175px 0;
  margin-left: auto;
}
.main-content.rtl .profile-section .card .card-img {
  right: auto;
  left: 0;
}
.main-content.rtl .banner-section .heart-img {
  right: auto;
  left: 20px;
}
@media (max-width: 575px) {
  .main-content.rtl .banner-section .heart-img {
    right: auto;
    left: 30px;
  }
}
.main-content.rtl .banner-section .cherry-blossom-img {
  right: auto;
  left: 50px;
}
@media (max-width: 767px) {
  .main-content.rtl .banner-section .cherry-blossom-img {
    right: auto;
    left: 30px;
  }
}

.btn-section.rtl {
  right: auto !important;
  left: 15px !important;
}

.btn-section.rtl {
  right: auto !important;
  left: 15px !important;
}

.modal-content[dir=rtl] .pl-50 {
  padding-right: 50px;
}
.modal-content[dir=rtl] .text-center {
  text-align: start !important;
}
.modal-content[dir=rtl] .arrow {
  transform: rotate(180deg) !important;
}
.modal-content[dir=rtl] .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0.313rem !important;
  border-bottom-right-radius: 0.313rem !important;
}
.modal-content[dir=rtl] .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0.313rem !important;
  border-bottom-left-radius: 0.313rem !important;
}

.slick-prev:before {
  color: black !important;
}

.slick-next:before {
  color: black !important;
}
