:root {
    --black: #000000;
    --white: #ffffff;
    --color-1: #FEEBDC;
    --color-2: #BBB3B3;
    --color-3: #FEAF11;
    --color-4: #16407B;
    --color-5: #333333;
    --color-6: #00BBFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #e5e5e5 !important;
    font-family: 'Poppins', sans-serif;
}

.z-2 {
    z-index: 2;
}

.vcard-one.main-content {
    background-color: #191A1F;
    max-width: 576px;
    min-height: 100vh
}

.vcard-one .vcard-one-heading {
    color: #313bac;
    font-size: 28px;
    font-weight: 600
}

.vcard-one__banner {
    height: 294px;
}

.vcard-one__banner img {
    height: 294px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    position: relative;
}

.vcard-one__banner::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.vcard-one__banner .image-icon img {
    height: 20px;
    width: 25px
}

.vcard-one .activeSlot {
    background-color: #02bbff !important;
    color: #fff !important;
    border-color: #02bbff !important;
}

.avatar img {
    height: 110px;
    width: 109px;
    object-fit: cover;
}

.vcard-one__profile-details {
    background-color: var(--white);
    /* padding-top: 60px; */
}

.vcard-one__profile-details .profile-name {
    color: var(--color-4);
    padding-top: 20px;
    font-family: Century Gothic;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

.vcard-one__profile-details .profile-designation {
    color: var(--black);
    /* padding-top: 10px; */
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}

.profile-designation-2 {
    color: var(--color-4);
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}

.profile-description {
    color: var(--color-5);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 500px;
}


.vcard-one__profile-details .profile-company {
    font-size: 16px;
    padding-top: 5px
}

.vcard-one__profile-details .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px;
    text-decoration: none;
    width: 30px;
    height: 31px;
    background-color: var(--color-4);
    font-size: 20px;
    border-radius: 5px;
}

.vcard-one__profile-details .social-icons .icon {
    color: var(--white);
    cursor: pointer;
    transition: all .3s ease;
    font-size: 20px;
}


/* .main-heading {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
} */

/* contact */
.contact {
    background-color: var(--color-4);
    border-bottom: 2px solid #191A1F;
    border: 2px;
    opacity: 0.7px;
}


.contact-icon i {
    color: var(--white);
    
}

#contact .container {
    max-width: 425px;
}

.contact-icon {
    font-size: 16px;
    color: var(--white);
}

.contact-name {
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
}

.contact-link {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}



/* services */
.my-services {
    background-color: var(--white);
}

.service-heading {
    color: var(--color-4);
    font-family: Century Gothic;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;

}

.services-card img {
    width: 108px;
    height: 115px;
    object-fit: cover;
    -o-object-fit: cover;
}

.service-title {
    color: var(--color-4);
    margin-left: 15px;
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
}

.services-card .content .service-desc {
    color: var(--color-5);
    margin-left: 15px;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: left;
}



.blog-slider .card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    -o-object-fit: cover;
}

.achievements .card .card-title,
.blog .card .card-title {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #00BBFF;
}

.achievements .card .card-text,
.blog .card .card-text {
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: #D9D9D9;
}

/* slider */

.slick-slide {
    height: auto !important;
}

.slick-dots {
    /* bottom: -25px; */
    position: relative;
}

.slick-dots li {
    height: 7px !important;
    width: 7px !important;
}

.slick-dots li button {
    height: 7px !important;
    width: 7px !important;
    background-color: #D6D6D6 !important;
}

.slick-dots li.slick-active button {
    background-color: #00BBFF !important;
}


/* success graph */
.success {
    background-color: var(--white);
}

.success-heading {
    color: var(--color-4);
    font-family: Century Gothic;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;

}


/* My blogs */

.blogs {
    background-color: var(--color-4);
}

.main-heading {
    color: var(--white);
    font-family: Century Gothic;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;

}

.blogs-card {
    max-width: 250px;
    margin: auto;
}

.blogs-card img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.blogs-card .card-title {
    padding-top: 10px;
    color: #00BBFF;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

}

.blogs-card .card-text {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;

}

@media screen and (min-width:575px) {
    .blogs-card {
        max-width: 150px;
    }
}

/* testimonial */
.testimonial {
    background-color: var(--white);
}

.testimonial-heading {
    color: var(--color-4);
    font-family: Century Gothic;
    font-size: 24px !important;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
   
}

.testimonial-card {
    background-size: cover;
    background-position: center;
    text-align: center;
    color: var(--white);
    max-width: 256px;
    /* height: 230px; */
    padding: 20px;
    margin: auto;
}

.testimonial-card img {
    width: 32px;
    height: 32px;
    margin: auto;
    border-radius: 50%;
}

.testimonial-card p {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
}

.testimonial-card h3 {
    font-family: Century Gothic;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-6);
    margin-bottom: -15px;

}

/* appointment */

.ps-30 {
    padding-left: 30px;
}

/* appointment */

.appointment {
    padding: 0 20px;
}

.appointment-wrapper {
    background-color: var(--color-4);
}

.appointment label {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--white);
}

.appointment .appoint-date,
.appointment .time-slot {
    border: 1px solid var(--white);
    padding: 14px 10px;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    min-width: 160px;
    background: transparent;
    cursor: pointer;
}

#myID {
    border: 1px solid var(--white);
    color: var(--white);
    text-align: center;
    position: relative;
}

.btn-appointment {
    border: 1px solid var(--white);
    color: var(--white) !important;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.btn-appointment:hover {
    transform: translateY(-3px);
}


.vcard-one .language ul {
    list-style: none
}

.vcard-one .language ul .lang-list {
    background: #313bac;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px 20px;
    transition: all .3s ease;
    width: -moz-fit-content;
    width: fit-content
}

.vcard-one .language ul .lang-list .lang-head,
.vcard-one .language ul .lang-list .lang-head i {
    color: #fff
}

.vcard-one .language ul .lang-list .lang-hover-list {
    font-size: 15px;
    left: unset !important;
    margin: 15px 0 0;
    min-width: 150px;
    right: 0;
    width: 115%
}

.vcard-one .language ul .lang-list .lang-hover-list li {
    padding: 5px 15px
}

.vcard-one .language ul .lang-list .lang-hover-list li:hover {
    background-color: #f1faff !important
}

.vcard-one .language ul .lang-list .lang-hover-list li:hover a {
    color: #009ef7 !important
}

.vcard-one .language ul .lang-list .lang-hover-list li.active {
    background-color: #f1faff !important
}

.vcard-one .language ul .lang-list .lang-hover-list li.active a {
    color: #009ef7 !important
}

.vcard-one .language ul .lang-list .lang-hover-list li a {
    color: #5e6278 !important;
    text-decoration: none
}

.vcard-one .language ul .lang-list .lang-hover-list li img {
    height: 20px !important;
    width: 25px !important
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: unset !important;
    outline: unset !important
}



.vcard-one .language ul .lang-list .lang-hover-list {
    margin: 0
}

.vcard-one .language ul .lang-list .lang-hover-list.top-dropdown {
    margin: -80px 0 0
}


/* .profile-description {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    max-width: 500px;
    padding: 0 15px;
    color: var(--color-2);
} */

.slick-dots li button:before {
    font-size: 0 !important;
}

.slick-dots li {
    margin-right: 7px !important;
}

.btn-section .fixed-btn-section .bars-btn {
    background: #16407b;
    box-shadow: 0 0 4px #fff;
}

.stickyIcon button,
.stickyIcon a {
    background: #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: unset;
    box-shadow: 0px 0px 3px #000;
}
.gallary-section img
{
    height: 112px;
    object-fit: cover;
}