:root {
    --black: #000000;
    --white: #ffffff;
    --color-1: #feebdc;
    --color-2: #bbb3b3;
    --color-3: #feaf11;
    --color-4: #ffca97;
    --color-5: #251100;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #e5e5e5 !important;
    font-family: "Poppins", sans-serif;
}

.z-2 {
    z-index: 2;
}

.vcard-one.main-content {
    background-color: #fff;
    max-width: 576px;
    min-height: 100vh;
}

.vcard-one .vcard-one-heading {
    color: #313bac;
    font-size: 28px;
    font-weight: 600;
}

.vcard-one__banner {
    height: 100%;
}

/* .vcard-one__banner img {
    height: 294px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    position: relative;
} */

/* .vcard-one__banner::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(1.25deg, #000000 1.13%, rgba(0, 0, 0, 0) 39.21%);
} */

.vcard-one__banner .image-icon img {
    height: 20px;
    width: 25px;
}

.vcard-one .activeSlot {
    background-color: #313bac !important;
    color: #fff !important;
}

.vcard-one__profile .avatar {
    top: -50px;
}

.vcard-one__profile .avatar img {
    height: 110px;
    max-width: 110px;
    min-width: 110px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 110px;
    border-radius: 18px;
    border: 3px solid var(--color-1);
}

.avatar img {
    margin-left: 70px;
}

.vcard-one__profile-details {
    padding-top: 60px;
}

.vcard-one__profile-details .profile-name,
.vcard-one__profile-details .profile-designation {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.text-color-1 {
    color: var(--color-1);
}

.vcard-one__profile-details .container {
    max-width: 415px;
}

.vcard-one__profile-details .profile-img {
    height: 70px;
    width: 120px;
    box-shadow: 0px 4px 4px 0px #00000040;
    object-fit: cover;
}
.appoinment-after {
    position: absolute;
    top: 45px;
    right: 40px;
}

/* .divider {
    border-top: 2px solid;
}

.divider-verical {
    height: 60px;
    width: 2px;
    background-color: #000000;
} */

.object-fit-cover {
    object-fit: cover;
}

.profile-heading {
    color: var(--color-4);
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

.vcard-one__profile-details .profile-designation {
    color: #b8b8b8;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}

.vcard-one__profile-details .profile-company {
    font-size: 16px;
    padding-top: 5px;
}

.vcard-one__profile-details .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px;
    text-decoration: none;
    width: 19px;
    height: 19px;
    background-color: var(--white);
    font-size: 14px;
    border-radius: 5px;
}
/* .social-icons{
    margin-right: 300px;
} */

.vcard-one__profile-details .social-icons .icon {
    color: var(--color-5);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
}

/* contact us */

.contact {
    background: url(../images/contact\ img.png) center center/cover no-repeat;
    position: relative;
    height: 100%;
}

.contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 246, 248, 0.7);
}

.icon-container {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.fa-solid {
    color: var(--color-5);
    margin-right: 15px;
    z-index: 2;
}

.contact-heading1 {
    color: var(--color-5);
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    position: relative;
    z-index: 2;
}

.contact-heading2 {
    color: var(--color-5);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    position: relative;
    z-index: 2;
}
.contact-row {
    max-width: 425px;
    margin: auto;
}
.flatpickr-input {
    text-align: center;
    background: #feebdc !important;
    color: #000 !important;
    font-family: Poppins;
}
/* gallery */
.gallery {
    background-color: var(--black);
    height: 100%;
    padding-bottom: 20px;
}

.gallery-heading {
    padding-top: 50px;
    padding-bottom: 25px;
    color: var(--color-4);
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
}

img.dnamic-gallery {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* services */
.services {
    padding-top: 30px;
    padding-bottom: 30px;
    /* display: flex;
    flex-direction: row; */
}
.service-heading {
    margin-bottom: 20px;
    color: var(--color-5);
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
}

.service-card img {
    width: 100%;
}

.service-slider .slick-track {
    padding: 25px 0;
}

/* .content {
    margin-top: -70px;
    margin-left: 10px;
} */

.service-slider .card-img-overlay {
    background: linear-gradient(
        359.68deg,
        #000000 0.26%,
        rgba(0, 0, 0, 0) 62.47%
    );
    display: none;
}
 
.service-slider .card-img{
    height: 200px !important;
    object-fit: cover;
    width: 100%;
}

.service-slider .card-img-overlay .card-title {
    color: var(--white);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    /* text-align: left; */
}

.service-slider .card-img-overlay .card-text {
    color: var(--white);
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}

.main-section5 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .services .service-slider .product-card .card-img {
    border-radius: 10px 10px 0 0;
    height: 220px;
} */
/* .services .service-slider .product-card .card-body p {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
} */
/* .services .service-slider .slick-dots {
    bottom: -15px;
    position: relative;
} */
.services .service-slider .slick-current.slick-active {
    transform: scale(1.2);
    position: relative;
    z-index: 1;
}

.services .service-slider .slick-current.slick-active .card-img-overlay {
    display: flex;
}
.services .service-slider .slick-dots li.slick-active {
    background-color: #000 !important;
}
.services .service-slider .slick-dots
{
    left: 0;
}
/* blogs */

.blogs {
    height: 100%;
    background-color: var(--black);
}
.blogs-img img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.blogs.container {
    /* max-width: 540px; */
    display: flex;
    flex-wrap: wrap;
}

.blogs-card .blogs-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.slick-dots li button:before,
.slick-dots li button {
    height: 8px !important;
    width: 8px !important;
}

.slick-dots li {
    background: #acacac;
    height: 8px !important;
    width: 8px !important;
    margin: 2px;
    margin-right: 5px !important;
}

.blogs .slick-dots li.slick-active {
    background: #feebdc;
}
.main-heading2 {
    padding-top: 50px;
    padding-bottom: 20px;
    color: var(--color-4);
    font-family: Poppins;
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    width: 100%;
}

.blogs-card .card-title {
    margin-top: 10px;
    color: var(--color-4);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}

.blogs-card .card-text {
    margin-top: -5px;
    color: var(--white);
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
}
.blogs-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* client */
.client {
    /* margin-top: 40px; */
    height: 100%;
    background: url("../images/client\ background-img.png") center center/cover
        no-repeat;
    position: relative;
}

/* .img3 {
    width: 214px;
    height: 274px;
} */

.gradient {
    background: linear-gradient(
        to right,
        rgba(221, 225, 231, 0.7),
        rgba(240, 243, 248, 0.7)
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content2 {
    position: relative;
    z-index: 1;
    display: flex !important;
}

.img3 {
    width: 100%;
    height: 274px;
    object-fit: cover;
    -o-object-fit: cover;
}

.client-heading {
    margin-top: 50px;
    color: var(--color-5);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 38px;
}

.client-text {
    color: var(--color-5);
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.client-sub-heading {
    margin-top: 45px;
    color: var(--color-5);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;
    padding-right: 15px;
}

/* appointment */

.ps-30 {
    padding-left: 30px;
}

.appointment {
    padding: 0 20px;
}

.appointment label {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.appointment .appoint-date {
    border: 1px solid var(--white);
    padding: 14px 5px;
    color: #939393;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    min-width: 160px;
}
.appointment .appoint-input {
    border: 1px solid var(--white);
    padding: 14px 5px;
    color: #939393;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    min-width: 160px;
    cursor: pointer;
}
.btn-appointment {
    background: #feebdc;
    width: 100%;
    padding: 12px;
}
#appointment .main-heading {
    font-family: "Poppins";
    font-size: 33px;
    color: #feebdc !important;
    width: 100%;
}
.vcard-one .activeSlot {
    background-color: #feebdc !important;
    color: #000 !important;
    border-color: #feebdc;
}
.form-label {
    font-family: "Poppins" !important;
    font-size: 22px !important;
    color: #feebdc;
}
.vcard-one .language ul {
    list-style: none;
}

.vcard-one .language ul .lang-list {
    background: #313bac;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px 20px;
    transition: all 0.3s ease;
    width: -moz-fit-content;
    width: fit-content;
}

.vcard-one .language ul .lang-list .lang-head,
.vcard-one .language ul .lang-list .lang-head i {
    color: #fff;
}

.vcard-one .language ul .lang-list .lang-hover-list {
    font-size: 15px;
    left: unset !important;
    margin: 15px 0 0;
    min-width: 150px;
    right: 0;
    width: 115%;
}

.vcard-one .language ul .lang-list .lang-hover-list li {
    padding: 5px 15px;
}

.vcard-one .language ul .lang-list .lang-hover-list li:hover {
    background-color: #f1faff !important;
}

.vcard-one .language ul .lang-list .lang-hover-list li:hover a {
    color: #009ef7 !important;
}

.vcard-one .language ul .lang-list .lang-hover-list li.active {
    background-color: #f1faff !important;
}

.vcard-one .language ul .lang-list .lang-hover-list li.active a {
    color: #009ef7 !important;
}

.vcard-one .language ul .lang-list .lang-hover-list li a {
    color: #5e6278 !important;
    text-decoration: none;
}

.vcard-one .language ul .lang-list .lang-hover-list li img {
    height: 20px !important;
    width: 25px !important;
}

.btn-check:focus + .btn,
.btn:focus {
    box-shadow: unset !important;
    outline: unset !important;
}

.vcard-one .language ul .lang-list .lang-hover-list {
    margin: 0;
}

.vcard-one .language ul .lang-list .lang-hover-list.top-dropdown {
    margin: -80px 0 0;
}

.profile-description {
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    /* text-align: left; */

    color: var(--color-2);
}

/* testimonial */
.testimonial {
    background: url("../img/vcard28/client\ background-img.png") right top
        no-repeat;
}

.testimonial-card .img-overlay {
    background: linear-gradient(
        357.64deg,
        #ffffff -0.67%,
        rgba(255, 255, 255, 0) 73.96%
    );
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2.5rem;
}
.testimonial-slider {
    margin-bottom: -7px !important;
}
.testimonial-slider .slick-dots li,
.testimonial-slider .slick-dots li button {
    height: 8px;
    width: 8px;
    background-color: #d6d6d6;
    margin-right: 7px;
}
.slick-dots li button:before {
    font-size: 0px !important;
}
.testimonial-slider .slick-dots li.slick-active button {
    background-color: #000 !important;
}

.testimonial-qoute {
    position: absolute;
    top: -6px;
    right: 20px;
    z-index: 1;
}

.testimonial .testimonial-title {
    font-family: poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-transform: uppercase;
    text-align: left;
    color: #251100;
}
.testimonial .quote {
    font-size: 46px;
    font-style: italic;
    margin-left: -23px;
}
.testimonial-desc {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #251100;
}
.testimonial .card-body {
    position: relative;
    z-index: 99;
}
.testimonial .overlay-white:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    top: 0;
}
.testimonial-name {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #251100;
    float: right;
}

.testimonial .slick-dots {
    width: 100%;
    margin-left: -25px;
    bottom: 40px;
}
.btn-section .fixed-btn-section .bars-btn {
    background: #000;
    box-shadow: 0 0 4px #fff;
}
.stickyIcon button,
.stickyIcon a {
    background: #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: unset;
}
.vcard-one .language ul .lang-list {
    background: #ffca97 !important;
}
@media screen and (max-width: 575px) {
    .testimonial-card img {
        height: 150px !important;
        width: 150px !important;
        text-align: center;
        margin: auto;
        margin-top: 20px;
    }

    .testimonial .slick-dots {
        width: auto !important;
        right: 0 !important;
        left: inherit !important;
        padding-right: 1.5rem !important;
        padding-left: inherit Im !important;
        bottom: 27px !important;
    }
}
