@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Rubik-Light.ttf?b269c92bc326f0d43f542b946c3f0203) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Rubik-Regular.ttf?705a89f52bdf93b960ed7777e4b152af) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Rubik-Medium.ttf?e41132b912f5c264d4f0596e939fb78a) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/Rubik-SemiBold.ttf?4bc5c511d3be812971dc09c7b01a9d56) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Rubik-Bold.ttf?b24c64f715ba25a6e7f5c3df2188a90c) format("truetype");
  font-display: swap;
}
body {
  font-family: "rubik";
  font-weight: 400;
}

ul {
  list-style: none;
  padding-left: 0;
}

.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center {
  -o-object-position: center;
     object-position: center;
}

.btn {
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: none !important;
}
@media (max-width: 575px) {
  .btn {
    padding: 10px 20px;
  }
}

.btn-white {
  background-color: #ffffff;
  color: #7638f9;
  border: 1px solid #7638f9;
}
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active {
  background-color: #7638f9;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-primary {
  background-color: #7638f9;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #ffffff;
  color: #7638f9;
  border: 1px solid #7638f9;
}

.btn-primary-light {
  background-color: #ffffff;
  color: #7638f9;
  border: 1px solid #7638f9;
}
.btn-primary-light:hover, .btn-primary-light:focus, .btn-primary-light:active, .btn-primary-light.active {
  background-color: #7638f9;
  color: #ffffff;
  border: 1px solid #7638f9;
}

.btn-gray {
  background-color: #ffffff;
  color: #1b1920;
  border: 1px solid #d8d8d8;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .mb-40 {
    margin-bottom: 30px;
  }
}

.mb-60 {
  margin-bottom: 60px;
}
@media (max-width: 991px) {
  .mb-60 {
    margin-bottom: 40px;
  }
}

h1,
.fs-60 {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}
@media (max-width: 991px) {
  h1,
  .fs-60 {
    font-size: 42px;
    line-height: 50px;
  }
}
@media (max-width: 575px) {
  h1,
  .fs-60 {
    font-size: 35px;
    line-height: 42px;
  }
}

.fs-18 {
  font-size: 18px;
}
@media (max-width: 767px) {
  .fs-18 {
    font-size: 16px;
  }
}

.fs-40 {
  font-size: 40px;
}
@media (max-width: 991px) {
  .fs-40 {
    font-size: 36px;
  }
}
@media (max-width: 575px) {
  .fs-40 {
    font-size: 32px;
  }
}

h2 {
  font-size: 30px;
}
@media (max-width: 575px) {
  h2 {
    font-size: 26px;
  }
}

.section-heading h2 {
  position: relative;
}
.section-heading h2::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 6%;
  width: 33%;
  height: 2px;
  border-radius: 2px;
  background-color: #7638f9;
}

.fs-20 {
  font-size: 20px;
}
@media (max-width: 991px) {
  .fs-20 {
    font-size: 18px;
  }
}

.fs-30 {
  font-size: 30px;
}
@media (max-width: 991px) {
  .fs-30 {
    font-size: 26px;
  }
}
@media (max-width: 575px) {
  .fs-30 {
    font-size: 24px;
  }
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-100 {
  padding-top: 100px;
}
@media (max-width: 991px) {
  .pt-100 {
    padding-top: 50px;
  }
}

.pb-100 {
  padding-bottom: 100px;
}
@media (max-width: 991px) {
  .pb-100 {
    padding-bottom: 50px;
  }
}

.bg-light {
  background-color: #f3f3ff !important;
}

.text-black {
  color: #1b1920;
}

.text-gray-100 {
  color: #99999a;
}

.text-primary {
  color: #7638f9 !important;
}

.bg-primary {
  background-color: #7638f9 !important;
}

.form-control {
  border: none;
  height: 60px;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  color: #1b1920;
  padding: 10px 20px;
}
.form-control::-moz-placeholder {
  color: #99999a;
}
.form-control::placeholder {
  color: #99999a;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid #d8d8d8;
}

mark {
  background-color: transparent;
  color: #7638f9;
}
@media (max-width: 767px) {
  mark {
    color: #1b1920;
  }
}

.slick-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  background-color: #7638f9;
  color: #ffffff;
  border: 1px solid #7638f9;
  position: absolute;
}
@media (max-width: 575px) {
  .slick-arrow {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
}
.slick-arrow:active, .slick-arrow:focus, .slick-arrow.active, .slick-arrow:hover {
  background-color: transparent;
  color: #7638f9;
  border: 1px solid #7638f9;
}

.vcard-template-section .vcard-bg {
  top: 60px;
  left: 0;
  z-index: -1;
}
.vcard-template-section .plus-vector1 {
  top: 900px;
  left: 100px;
  animation: zoom-in 3s linear infinite;
  z-index: -1;
}
.vcard-template-section .plus-vector2 {
  bottom: 550px;
  right: 100px;
  animation: zoom-in 3s linear infinite;
  z-index: -1;
}
.vcard-template-section .plus-vector3 {
  bottom: 60px;
  right: 250px;
  animation: zoom-in 3s linear infinite;
  z-index: -1;
}
.vcard-template-section .template-card {
  max-width: 400px;
  margin: 0 auto;
}
.vcard-template-section .template-card .card-img {
  box-shadow: 0 8px 20px rgba(64, 60, 72, 0.1);
  border-radius: 15px;
  max-height: 700px;
  height: auto;
  overflow: hidden;
}
.vcard-template-section .template-card .card-img:hover img {
  -o-object-position: left;
     object-position: left;
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
  transition: all 8s ease;
}
.vcard-template-section .template-card .card-img img {
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transition: all 8s ease;
  width: 100%;
}
@media (max-width: 1199px) {
  .vcard-template-section .template-card .card-img img {
    max-height: 500px;
  }
}

.curve-shape {
  position: relative;
  width: 100%;
  padding-bottom: 7%;
  overflow: hidden;
}
.curve-shape svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 1px;
}

.vcard-object {
  position: absolute;
  z-index: 0;
}
.vcard-object img {
  width: 100%;
}
@media (max-width: 768px) {
  .vcard-object img {
    width: 70%;
  }
}
@media (max-width: 575px) {
  .vcard-object img {
    width: 50%;
  }
}
.vcard-object.object-img-1 {
  top: 0%;
  left: 50%;
  animation: movetopbounce 5s linear infinite;
}
.vcard-object.object-img-2 {
  top: 22%;
  left: 0%;
  animation: movetopbounce 5s linear infinite;
}
.vcard-object.object-img-3 {
  top: 34%;
  left: 20%;
  animation: zoom-in 3s linear infinite;
}
.vcard-object.object-img-4 {
  top: 26%;
  left: 36%;
  animation: moveleftbounce 3s linear infinite;
}
.vcard-object.object-img-5 {
  top: 30%;
  right: 10%;
  animation: zoom-in 3s linear infinite;
}
.vcard-object.object-img-6 {
  top: 60%;
  right: 5%;
  animation: moveleftbounce 2s linear infinite;
}
.vcard-object.object-img-7 {
  top: 90%;
  left: 7%;
  animation: zoom-in 3s linear infinite;
}
.vcard-object.object-img-8 {
  top: 90%;
  right: 0;
  text-align: right;
  animation: movetopbounce 5s linear infinite;
}

@keyframes moveleftbounce {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes movetopbounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes zoom-in {
  0% {
    transform: scale(0.5, 0.5);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.4, 0.4);
  }
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}
@keyframes geometric-form-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
.nav-link-white {
  color: #ffffff !important;
}
@media (max-width: 991px) {
  .nav-link-white {
    color: #1b1920 !important;
  }
}

.top-margin {
  position: relative;
  top: 178px;
  margin-bottom: 190px;
}

@media (max-width: 1399px) {
  .top-margin {
    position: relative;
    top: 163px;
    margin-bottom: 190px;
  }
}
@media (max-width: 1199px) {
  .top-margin {
    position: relative;
    top: 130px;
    margin-bottom: 190px;
  }
}
@media (max-width: 991px) {
  .top-margin {
    position: relative;
    top: 110px;
    margin-bottom: 190px;
  }
}
@media (max-width: 575px) {
  .top-margin {
    position: relative;
    top: 85px;
    margin-bottom: 190px;
  }
}
.top-margin-privacy {
  position: relative;
  top: 178px;
  margin-bottom: 190px;
}

.js-cookie-consent {
  background: #f3f3ff;
  z-index: 5;
}
.js-cookie-consent .cookie-consent__message {
  color: black !important;
}

@media (max-width: 375px) {
  input.contact-section-submit-btn {
    font-size: 12px !important;
    padding: 6px !important;
  }
}
.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
}
.ribbon-wrapper .ribbon {
  color: #333;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: relative;
  padding: 7px 0;
  top: 17px;
  left: -27px;
  width: 120px;
  background-color: #3498db;
  color: #fff;
  font-size: 10px !important;
}

.main-social-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 991px) {
  .main-social-links {
    justify-content: center;
  }
}
.main-social-links a {
  margin: 5px;
  width: 37px;
  height: 37px;
  display: flex;
  border-radius: 50%;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  background: white;
  transition: 0.5s ease;
}
.main-social-links a.globe {
  color: #0d6efd;
}
.main-social-links a.globe:hover {
  color: #fff;
  background-color: #0d6efd;
}
.main-social-links a.twitter .icon {
  fill: #000;
}
.main-social-links a.twitter:hover {
  background-color: #000;
}
.main-social-links a.twitter:hover .icon {
  fill: #fff;
}
.main-social-links a.facebook {
  color: #0a66ff;
}
.main-social-links a.facebook:hover {
  color: #fff;
  background-color: #0a66ff;
}
.main-social-links a.instagram {
  color: #ee2a7b;
}
.main-social-links a.instagram:hover {
  color: #fff;
  background: linear-gradient(213deg, #833ab4, #fd1d1d, #fcb045);
}
.main-social-links a.youtube {
  color: #fd0200;
}
.main-social-links a.youtube:hover {
  color: #fff;
  background-color: #fd0200;
}
.main-social-links a.tumblr {
  color: #001a35;
}
.main-social-links a.tumblr:hover {
  color: #fff;
  background-color: #001a35;
}
.main-social-links a.reddit {
  color: #fd4500;
}
.main-social-links a.reddit:hover {
  color: #fff;
  background-color: #fd4500;
}
.main-social-links a.linkedin {
  color: #0c66c2;
}
.main-social-links a.linkedin:hover {
  color: #fff;
  background-color: #0c66c2;
}
.main-social-links a.whatsapp {
  color: #2bd44b;
}
.main-social-links a.whatsapp:hover {
  color: #fff;
  background-color: #2bd44b;
}
.main-social-links a.pinterest {
  color: #e60222;
}
.main-social-links a.pinterest:hover {
  color: #fff;
  background-color: #e60222;
}
.main-social-links a.tiktok {
  color: #000;
}
.main-social-links a.tiktok:hover {
  color: #fff;
  background-color: #000;
}

.header[dir=rtl] .dropdown .dropdown-toggle:after {
  margin-right: 10px;
  margin-left: auto;
}
.header[dir=rtl] .me-1 {
  margin-left: 0.25rem !important;
  margin-right: auto;
}

@media (max-width: 768px) {
  .new-footer-term {
    margin-top: 90px !important;
  }
}
@media (max-width: 425px) {
  .new-footer-term {
    text-align: center !important;
  }
}
